﻿@model Cvpa.Models.AccountListViewModel
@using Cvpa.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color: #eee;
        }
    </style>
    @using (Html.BeginForm("Search", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "ExpenseForm" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Expenses </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                    <input type="hidden" name="PaymentType" id="PaymentType" value="Debit" />
                                    @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                    <input type="hidden" name="AccountFilter.AccountType" value="Debit" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                        <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                                        <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                        <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Voucher</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 right">
                        <a href="@Url.Action("ExpenseCreate", "Account")" class="btn btn-default">Create Voucher</a>
                    </div>

                </div>
            </div>
            <div class="panel-body advanced-search">
                <div class="col=md-12">
                    <div class="col-md-4">
                        <label for="FromDate">From Date</label>
                        <input type="text" class="datepicker" name="AccountFilter.FromDate" id="FromDate" />
                    </div>
                    <div class="col-md-4">
                        <label for="ToDate">To Date</label>
                        <input type="text" class="datepicker" name="AccountFilter.ToDate" id="ToDate" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">


                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bill No</th>
                                        <th>Bill Date</th>
                                        <th>Receiver Name</th>
                                        <th>Category</th>
                                        <th>Towards</th>
                                        <th>Amount</th>
                                        <th>Cheque No</th>
                                        <th>Edit / Delete / Print</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Expense in Model.Accounts.Items)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Edit", "Account", new {AccountID = @Expense.AccountID})">@Expense.ExpenseBillNo</a></td>
                                            <td><a href="@Url.Action("Edit", "Account", new {AccountID = @Expense.AccountID})">@Expense.ReceiptDate.ToString("dd/MM/yyyy")</a></td>
                                            <td>@Expense.Name</td>
                                            <td>@Expense.CategoryName</td>
                                            <td>@Expense.Reason</td>
                                            <td>@Expense.Amount</td>
                                            <td>@Expense.ChequeNo</td>
                                            @*<td><a href="@Url.Action()"></a>@Expense.ChequeNo</td>*@
                                            <td>
                                                @*<a href="#" class="DeleteVoucher"><input type="hidden" class="DeleteVoucherID" value="@Expense.ReceiptID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                    / *@
                                                <a href="@Url.Action("Edit", "Account", new {AccountID = @Expense.AccountID})"><span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span></a> /
                                                <a href="#" class="DeleteVoucher"><input type="hidden" class="DeleteVoucherID" value="@Expense.AccountID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span></a> /
                                                <a href="#" class="PrintSingleVoucher"><input type="hidden" class="PrintSingleVoucherID" value="@Expense.AccountID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-7">


                                @Html.BootstrapPager(Model.Accounts.CurrentPage,
                             index => Url.Action("Search",
                                                 "Account",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Accounts.ItemsPerPage },
                                                     { "Query", Request["Query"] },
                                                     { "AccountFilter.FromDate", Model.AccountFilter.FromDate },
                                                     { "AccountFilter.ToDate", Model.AccountFilter.ToDate },
                                                     { "AccountFilter.AccountType", "Debit" }
                                                 }),
                             Model.Accounts.TotalItems,
                             Model.Accounts.ItemsPerPage,
                             Model.Accounts.TotalPages)
                                @*
                                    @Html.BootstrapPager(Model.Accounts.CurrentPage,
                                            index => Url.Action("Search",
                                                                "Account",
                                                                new
                                                                {
                                                                    PageNumber = index,
                                                                    ItemsPerPage = Model.Accounts.ItemsPerPage,
                                                                    Query = Request["Query"],
                                                                    PaymentType = "Debit",
                                                                }),
                                            Model.Accounts.TotalItems,
                                            Model.Accounts.ItemsPerPage,
                                            Model.Accounts.TotalPages)
                                *@
                            </div>
                            <div class="col-md-5">
                                Showing @Model.Accounts.Items.Count of @Model.Accounts.TotalItems receipt(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                //dateFormat: "yy-mm-dd"
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "c-100:c+50",
                scrollInput: false,
                defaultDate: new Date()
            });

            function onLoad() {

                $("#FromDate").val("@Model.AccountFilter.FromDate");
                $("#ToDate").val("@Model.AccountFilter.ToDate");

                $(".advanced-search").hide();
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                if ((fromdate != "") || (todate != "")) {
                    $(".advanced-search").show();
                } else if ((fromdate == "") || (todate == "")) {
                    $(".advanced-search").hide();
                }
            }

            $(".DeleteVoucher").click(function () {
                var ReceiptID = $(this).find(".DeleteVoucherID").val();
                if (confirm("Are you sure want to delete the Voucher ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Account")?ID=' + ReceiptID,
                        success: function (DeleteReceipt) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });

            // Receipt Single Print
            $(".PrintSingleVoucher").click(function () {
                var ReceiptID = $(this).find(".PrintSingleVoucherID").val();
                window.open('@Url.Action("ExpenseSinglePrint", "Account")?ReceiptID=' + ReceiptID, '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            if (RequestQuery != null) {
                $("#Query").val(RequestQuery);
            }

            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });

            @*
            $(".PrintReceiptDetails").click(function () {
                var fromDateValue = $("#FromDate").val();
                var toDateValue = $("#ToDate").val();
                var RequestQueryStr = $("#Query").val();
                window.open('@Url.Action("ExpenseListPrint", "Account")?Query=' + RequestQuery + '&PrintOption=PrintVoucherList&FromDate=' + fromDateValue + '&ToDate=' + toDateValue, '_blank', "width=900, height=600");

            });
                *@
            $(".PrintReceiptDetails").click(function () {
                window.open('@Url.Action("AccountsPrint", "Account")?' + $("#ExpenseForm").serialize(), '_blank', "width=900, height=600");

            });
            $("[data-toggle=popover]").popover();
            onLoad();
        });
    </script>
}
