﻿@model List<Cvpa.Models.Account>
@{
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style type="text/css">
    .panel-body {
        margin: auto;
        width: 100%;
        border: 1px solid #dcdcdc;
        padding: 15px;
        border-radius: 4px;
    }

    .signature {
        width: 33%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #000000;
    }
</style>

<div class="panel-body">
    <div class="main-header container-fluid">
        <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <br>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="Receipt-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Bill No</th>
                        <th>Receipt Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Towards</th>
                        <th>Cheque No</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Account in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <tr>
                            <td>@Account.Index</td>
                            <td>@Account.Data.ExpenseBillNo</td>
                            <td>@Account.Data.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                            <td>@Account.Data.Name</td>
                                            <td><span class="ExpenseAmount">@Account.Data.Amount</span></td>
                                            <td>@Account.Data.CategoryName</td>
                                            <td>@Account.Data.Reason</td>
                                            <td>@Account.Data.ChequeNo</td>
                                        </tr>
                    }
                </tbody>
            </table>
            Total Amount Spent <b>Rs.<span class="TotalValue"></span></b>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {

        function CalculateTotalAmount() {
            var total = 0;
            $(".ExpenseAmount").each(function () {
                var expenseamount = $(this).text();

                total = total + parseFloat(expenseamount);
                $('.TotalValue').html(total);
            });
            return total;
            $('.TotalValue').html(total);
            //alert(total);
        }
        CalculateTotalAmount();


    });
</script>