﻿@model Cvpa.Models.AccountEditViewModel
@using Cvpa.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
    var expense = Model.AccountData;
}

@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form" }))
    {
        <div class="alobin-panel" style="width:1000px;margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("ExpenseIndex", "Account")">Voucher</a> &raquo; Edit
                            </h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("ExpenseIndex", "Account")" class="btn btn-default">Expense Lists</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div>@Html.Raw(ViewBag.Message)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Bill No: </label>
                                <input type="text" value="@expense.ExpenseBillNo" name="ExpenseBillNo" id="ExpenseBillNo" class="form-control" placeholder="" />
                                <input type="hidden" name="AccountNo" id="AccountNo" value="@expense.AccountNo" class="form-control" placeholder="" />
                                <input type="hidden" name="AccountID" id="AccountID" value="@expense.AccountID" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <span class="btn" style="border: 1px solid #777">Voucher</span>

                            <p class="pull-right">Date:@expense.ReceiptDate.ToString("dd/MM/yyyy") </p>
                            <input type="hidden" name="ReceiptDate" value="@expense.ReceiptDate.ToShortDateString()" />


                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-6">
                            <label for="Name">Name</label>
                            <input type="text" name="Name" id="Name" value="@expense.Name" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="CategoryID">Category </label>
                            <select class="form-control" name="CategoryID" id="CategoryID">
                                @foreach (var category in Model.Categorys)
                                {
                                    if (@expense.CategoryID == @category.CategoryID)
                                    {
                                        <option value="@category.CategoryID" selected="selected">@category.CategoryName</option>}
                                }
                                }
                            </select>
                        </div><div class="clearfix">&nbsp;</div>
                        @*
                            <div class="col-md-12" id="OthersContainer">
                                <label for="OtherCategoryDesc">Others Description</label>
                                <input type="text" class="form-control" name="OtherCategoryDesc" id="OtherCategoryDesc" value="@expense.OtherCategoryDesc" />
                            </div>
                        *@
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <label for="AmountInWords"> Received a sum of Rupees(in words) </label>
                            <input type="text" name="AmountInWords" id="AmountInWords" value="@expense.AmountInWords" class="form-control" />
                        </div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-md-12">
                            <label for="Reason"> Towards </label>
                            <input type="text" name="Reason" id="Reason" value="@expense.Reason" class="form-control" />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-6">
                            <label for="MobileNo"> MobileNo </label>
                            <input type="text" name="MobileNo" id="MobileNo" value="@expense.MobileNo" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="PaymentMode">   By Cash/Cheque/DD </label>
                            <select id="PaymentMode" name="PaymentMode" class="form-control" required>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="DD">DD</option>
                            </select>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="ChequeNo"> Cheque/DD No </label>
                                    <input type="text" name="ChequeNo" id="ChequeNo" placeholder="Enter the ChequeNo" value="@expense.ChequeNo" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="ChequeDate">Cheque/DD Date </label>
                                    @if (@expense.ChequeDate == DateTime.MinValue)
                                    {
                                        <input type="text" name="ChequeDate" id="" value="" class="form-control datepicker ChequeDate" />
                                    }
                                    else
                                    {
                                        <input type="text" name="ChequeDate" id="" value="@expense.ChequeDate.ToString("dd/MM/yyyy")" class="form-control datepicker ChequeDate" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Amount"> Rs.</label>
                                    <input type="text" name="Amount" id="Amount" value="@expense.Amount" class="form-control" />
                                    <input type="hidden" name="PaymentType" id="PaymentType" value="@expense.PaymentType" />
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn pull-right" style="margin-top:20px;">Save Receipt</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2050',
                defaultDate: new Date(),
            });
            @{var paymentmode = Model.AccountData;}
            $("#PaymentMode option[value='@paymentmode.PaymentMode']").prop("selected", "selected");

            if ($("#PaymentMode").val() == "Cash") {
                $("#ChequeNo").prop("disabled", true);
                $(".ChequeDate").prop("disabled", true);
            }

            $("#PaymentMode").change(function () {
                //alert();
                var value = $(this).val();
                if (value == "Cheque" || value == "DD") {

                    $("#ChequeNo").prop("disabled", false);
                    $("#ChequeDate").prop("disabled", false);
                } else {

                    $("#ChequeNo").prop("disabled", true);
                    $("#ChequeDate").prop("disabled", true);
                }
            });

            @*
            function hideShowOthersContainer(flag) {
                if (flag)
                    $("#OthersContainer").show();
                else
                    $("#OthersContainer").hide();
            }

            $("#CategoryID").change(function () {
                var selectedText = $(this).find('option:selected').text();
                if (selectedText == "Others")
                    hideShowOthersContainer(true);
                else
                    hideShowOthersContainer(false);
            });

            if ("@Model.Categorys.Where(c => c.CategoryID == expense.CategoryID).Select(c => c.CategoryName).FirstOrDefault()" == "Others") {
                hideShowOthersContainer(true);
            } else {
                hideShowOthersContainer(false);
            }
                *@


        });
    </script>

}
