﻿@model Cvpa.Models.AccountEditViewModel

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
      @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form" }))
      {

        <div class="alobin-panel" style="width:1000px;margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("IncomeIndex", "Account")">Income Receipt</a> &raquo; Create
                            </h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("IncomeIndex", "Account")" class="btn btn-default">Income Lists</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                        <div class="col-md-6 right">
                            @*<a href="@Url.Action("Create", "Receipt", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>
                                <button type="submit" class="btn">Save Receipt</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div>@Html.Raw(ViewBag.Message)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Bill No: </label>
                                <input type="text" value="" name="IncomeBillNo" id="IncomeBillNo" class="form-control" placeholder="" />
                                <input type="hidden" name="AccountNo" id="AccountNo" value="" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            @*<span class="center-button" style="border: 1px solid #777">Receipt</span>*@

                            <label for="ReceiptDate">Receipt Date</label>
                            <input type="text" name="ReceiptDate" class="datepicker" value="@DateTime.Now.ToShortDateString()" />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-6">
                            <label for="Name">Received with thanks from</label>
                            <input type="text" name="Name" id="Name" value="" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label for="Reason">Towards</label>
                            <input type="text" name="Reason" id="Reason" value="" class="form-control" required />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="AmountInWords"> Rupees(Amount In Words)</label>
                                    <input type="text" name="AmountInWords" id="AmountInWords" value="" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="CategoryID">Category </label>
                                    <select class="form-control" name="CategoryID" id="CategoryID">
                                        @if (Model.Categorys.Count > 0)
                                        {
                                            <option value="0" disabled selected hidden>Select Category</option>
                                            foreach (var category in Model.Categorys)
                                            {
                                                <option value="@category.CategoryID">@category.CategoryName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <!--
                        <div class="col-md-12"  id="OthersContainer">
                            <label for="OtherCategoryDesc">Others Description</label>
                            <input type="text" class="form-control" name="OtherCategoryDesc" id="OtherCategoryDesc" />
                        </div>
                        -->
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6"><label for="MobileNo">Mobile No</label><input type="text" class="form-control" name="MobileNo" id="MobileNo" /></div>
                                <div class="col-md-6">
                                    <label for="PaymentMode">By Cash/Cheque/DD</label>
                                    <select id="PaymentMode" name="PaymentMode" class="form-control" required>
                                        <option value="Cash">Cash</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="DD">DD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="ChequeNo">Cheque/DD No</label>
                                    <input type="text" name="ChequeNo" id="ChequeNo" placeholder="Enter the ChequeNo" value="" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="ChequeDate">Cheque/DD Date</label>
                                    <input type="text" name="ChequeDate" id="ChequeDate" value="" class="form-control datepicker" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Amount">Rs.</label>
                                    <input type="number" name="Amount" id="Amount" value="" class="form-control" required />
                                    <input type="hidden" name="PaymentType" id="PaymentType" value="Credit" />
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn pull-right" style="margin-top:20px;"> Save Receipt</button>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2050',
                defaultDate: new Date(),
            });
            $("#ChequeNo").prop("disabled", true);
            $("#ChequeDate").prop("disabled", true);
            $("#PaymentMode").change(function () {
                //alert();
                var value = $(this).val();
                if (value == "Cheque" || value == "DD") {
                   
                    $("#ChequeNo").prop("disabled", false);
                    $("#ChequeDate").prop("disabled", false);
                } else {
                   
                    $("#ChequeNo").prop("disabled", true);
                    $("#ChequeDate").prop("disabled", true);
                }
            });
            /*

            function hideShowOthersContainer(flag) {
                if (flag)
                    $("#OthersContainer").show();
                else
                    $("#OthersContainer").hide();
            }

            $("#CategoryID").change(function () {
                var selectedText = $(this).find('option:selected').text();
                if (selectedText == "Others")
                    hideShowOthersContainer(true);
                else
                    hideShowOthersContainer(false);
            });
            hideShowOthersContainer(false);*/

           
        });
        
    </script>

}
  