﻿@model Cvpa.Models.AccountEditViewModel
@using Cvpa.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";

    var Income = Model.AccountData;
}

@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form" }))
    {
        <div class="alobin-panel" style="width:1000px;margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("IncomeIndex", "Account")">Income Receipt</a> &raquo; Edit
                            </h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("IncomeIndex", "Account")" class="btn btn-default">Income Lists</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                        <div class="col-md-6 right">
                            @*<a href="@Url.Action("Create", "Receipt", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>
                                <button type="submit" class="btn">Save Receipt</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div>@Html.Raw(ViewBag.Message)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Bill No: </label>
                                <input type="text" value="@Income.IncomeBillNo" name="IncomeBillNo" id="IncomeBillNo" class="form-control" placeholder="" />
                                <input type="hidden" name="AccountNo" id="AccountNo" value="@Income.AccountNo" class="form-control" placeholder="" />
                                <input type="hidden" name="AccountID" id="AccountID" value="@Income.AccountID" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <span class="btn" style="border: 1px solid #777">Receipt</span>

                            <p class="pull-right">Date: @Income.ReceiptDate.ToString("dd/MM/yyyy")</p>
                            <input type="hidden" name="ReceiptDate" value="@Income.ReceiptDate.ToShortDateString()" />


                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-6">
                            Received with thanks from
                            <input type="text" name="Name" id="Name" value="@Income.Name" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            Towards
                            <input type="text" name="Reason" id="Reason" value="@Income.Reason" class="form-control" required />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="AmountInWords"> Rupees(Amount In Words)</label>
                                    <input type="text" name="AmountInWords" id="AmountInWords" value="@Income.AmountInWords" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="CategoryID">Category </label>
                                    <select class="form-control" name="CategoryID" id="CategoryID">
                                        @foreach (var category in Model.Categorys)
                                        {
                                            if (Income.CategoryID == @category.CategoryID)
                                            {
                                                <option value="@category.CategoryID" selected="selected">@category.CategoryName</option>}
                                        }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        @*
                            <div class="col-md-12" id="OthersContainer">
                                <label for="OtherCategoryDesc">Others Description</label>
                                <input type="text" class="form-control" name="OtherCategoryDesc" id="OtherCategoryDesc" value="@Income.OtherCategoryDesc"/>
                            </div>
                        *@
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">PhoneNo&nbsp;&nbsp;<input type="text" name="MobileNo" id="MobileNo" class="form-control" value="@Income.MobileNo" /></div>
                                <div class="col-md-6">
                                    By Cash/Cheque/DD
                                    <select id="PaymentMode" name="PaymentMode" class="form-control">
                                        <option value="Cash">Cash</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="DD">DD</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    Cheque/DD No
                                    <input type="text" name="ChequeNo" id="ChequeNo" placeholder="Enter the ChequeNo" value="@Income.ChequeNo" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    Cheque/DD Date
                                    @if (@Income.ChequeDate == DateTime.MinValue)
                                    {
                                        <input type="text" name="ChequeDate" id="" value="" class="form-control datepicker ChequeDate" />
                                    }
                                    else
                                    {
                                        <input type="text" name="ChequeDate" id="" value="@Income.ChequeDate.ToString("dd/MM/yyyy")" class="form-control datepicker ChequeDate" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    Rs.
                                    <input type="text" name="Amount" value="@Income.Amount" class="form-control" />
                                    <input type="hidden" name="PaymentType" id="PaymentType" value="@Income.PaymentType" />
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn pull-right" style="margin-top:20px;">Save Receipt</button>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2050',
                defaultDate: new Date(),
            });

            @{var paymentmode = Model.AccountData;}
            $("#PaymentMode option[value='@paymentmode.PaymentMode']").prop("selected", "selected");

            if ($("#PaymentMode").val() == "Cash") {
                $("#ChequeNo").prop("disabled", true);
                $(".ChequeDate").prop("disabled", true);
            }
            $("#PaymentMode").change(function () {
                //alert();
                var value = $(this).val();
                if (value == "Cheque" || value == "DD") {

                    $("#ChequeNo").prop("disabled", false);
                    $(".ChequeDate").prop("disabled", false);
                } else {

                    $("#ChequeNo").prop("disabled", true);
                    $(".ChequeDate").prop("disabled", true);
                }
            });

            @*

            function hideShowOthersContainer(flag) {
                if (flag)
                    $("#OthersContainer").show();
                else
                    $("#OthersContainer").hide();
            }

            $("#CategoryID").change(function () {
                var selectedText = $(this).find('option:selected').text();
                if (selectedText == "Others")
                    hideShowOthersContainer(true);
                else
                    hideShowOthersContainer(false);
            });

            if ("@Model.Categorys.Where(c => c.CategoryID == Income.CategoryID).Select(c => c.CategoryName).FirstOrDefault()" == "Others") {
                hideShowOthersContainer(true);
            } else {
                hideShowOthersContainer(false);
            }
                *@

        });

    </script>

}
