﻿@model List<Cvpa.Models.Account>
@{
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style type="text/css">
    .panel-body {
        margin: auto;
        width: 100%;
        border: 1px solid #dcdcdc;
        padding: 15px;
        border-radius: 4px;
    }

    .signature {
        width: 33%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #000000;
    }
</style>

<div class="panel-body">
    <div class="main-header container-fluid">
        <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <br>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="Receipt-table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Bill No</th>
                        <th>Receipt Date</th>
                        <th>Name</th>
                        <th>Payment Mode</th>
                        <th>Category</th>
                        <th>Towards</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Income in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        <tr>
                            <td>@Income.Index</td>
                            <td>@Income.Data.IncomeBillNo</td>
                            <td>@Income.Data.ReceiptDate.ToString("dd/MM/yyyy")</td>
                            <td>@Income.Data.Name</td>
                            <td>@Income.Data.PaymentMode</td>
                            <td>@Income.Data.CategoryName</td>
                            <td>@Income.Data.Reason</td>
                            <td><span class="ReceiptAmount">@Income.Data.Amount</span></td>
                        </tr>
                    }
                </tbody>
            </table>
            Total Amount Received <b>Rs.<span class="TotalValue"></span></b>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
    jQuery(document).ready(function () {
        //alert($("#ReceiptAmount").text() + " Receipt Amount");
        // window.print();
        function CalculateTotalAmount() {
            // alert($(".ReceiptAmount").text() + " Receipt Amount");
            var total = 0;
            $(".ReceiptAmount").each(function () {
                //alert($(this).text());
                var receiptamount = $(this).text();

                total = total + parseFloat(receiptamount);
                //alert(total);
                //receiptamount = receiptamount + parseFloat($(this).find('.ReceiptAmount').length == 0 || !$(this).find('.ReceiptAmount').html() ? 0 : $(this).find('.ReceiptAmount').html());
                $('.TotalValue').html(total);
            });
            return total;
            $('.TotalValue').html(total);
            //alert(total);
        }
        CalculateTotalAmount();

        function CalculateGrandTotal() {
            var grandTotal = 0.0;
            $('#GridView1 tr:gt(0)').each(function () {
                grandTotal = grandTotal + parseFloat($(this).find('.totalPrice').length == 0 || !$(this).find('.totalPrice').html() ? 0 : $(this).find('.totalPrice').html());
            });
            $('#GridView1 .grandtotal').html(grandTotal);
        }
    });
</script>