﻿@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Master.cshtml";
}
<div class="main-content">
    <div class="main-header container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 ">
                <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" style="width:100%" />
            </div>
            <div class="col-lg-2"></div>
        </div>
        <hr />
    </div>
    @{
        var Message = Auth.GetStatusMessage();
        var MessageStatus = Auth.GetMessageStatusType();
        Auth.EmptyStatusMessage();
        if (!String.IsNullOrEmpty(Message) && !String.IsNullOrEmpty(MessageStatus) && MessageStatus == "Warning")
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @Message
            </div>
        }
        if (!String.IsNullOrEmpty(Message) && String.IsNullOrEmpty(MessageStatus))
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Message
            </div>
        }
    }
    @RenderSection("Content")
    @RenderSection("scripts", required: false)
</div>
