﻿@{
    Layout = null;
}

@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CVPA</title>
</head>
<body>
     
   <div class="container" id="loginPanel">
    <div class="row ">
        <div class="col-lg-6 col-lg-offset-3" style="top:100px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title " style="font-size:14px;font-weight:bold;text-align:center;">
                       
                         <h3>Chennai Video Photo Graphers Association</h3>
                       
                </div>
                <div class="panel-body">
                    
                        <form accept-charset="UTF-8" role="form" action="@Url.Action("Login", "User")" method="post">
                        <fieldset> <legend></legend>
                            <div class="col-md-12">
                            <div class="input-group form-group">
                                 <span class="input-group-btn">
                                        <span class="btn btn-default form-control" ><span class="glyphicon glyphicon-user"></span></span>
                                 </span>
                                 <input class="form-control" placeholder="Username" name="Username" type="text">
                            </div>
                            </div>
                            <div class="col-md-12">
                            <div class="input-group form-group">
                                <span class="input-group-btn">
                                        <span class="btn btn-default form-control" ><span class="glyphicon glyphicon-eye-close"></span></span>
                                 </span>
                                <input class="form-control" placeholder="Password" name="Password" type="password" value="">
                            </div>
                            </div>
                            <div class="error">
                                <span style="color:red;font-weight:bold">@ViewBag.Message</span>
                            </div>
                            <div class="col-md-12">
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
      
</body>
</html>
