﻿<form action='@Url.Action("Create", "Email")' class="form form-vertical" method="post">
    <div class="panel panel-default crud-edit-panel">
        @*<div class="panel-heading fixed-panel-header">

            <div class="row">
                <div class="col-md-8">
                    <a class="" href="/Lesson">Email</a> » Create
                </div>
                <div class="col-md-4 right">
                    <a href="/Lesson" class="btn btn-default">Cancel</a>
                    <input id="LessonID" name="LessonID" type="hidden" value="0">
                    <button type="submit" class="btn btn-primary save-email"><span class="fa fa-fw icon icon-book-open"></span>Send Email</button>
                </div>
            </div>

        </div>*@

        <div class="panel-body">

            <input id="EmailID" name="EmailID" type="hidden" value="0">

            <h3>Email </h3>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="Type">Recipient Type</label>
                        <div class="input-group">
                           
                             <span class="input-group-addon"><span class="glyphicon glyphicon-tint"></span></span>
                            @*<input class="form-control" id="Type" name="Type" type="text" value="">*@
                            <select id="Type" name="Type" class="form-control">
                                <option value="">Select Recipients</option>
                                <option value="Instructor">Instructor</option>
                                <option value="Student">Student</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="form-group">
                        <label class="control-label" for="Recipients">Recipients</label>
                        <div class="input-group ">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-tint"></span></span>
                            <input class="form-control" id="Recipients" name="Recipients[]" type="text" value="">
                        </div>
                        <span class="help-block">For multiple recipients use comma eg: (admin@gmail.com, test@gmail.com)</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                            <label class="control-label" for="EmailSubject">Subject</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-tint"></span></span>
                                <input class="form-control" id="EmailSubject" name="EmailSubject" type="text" value="">
                            </div>
                        </div>
                    </div>
                <div class="col-lg-4 col-md-4">
                </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                            <label class="control-label" for="EmailMessage">Message</label>
                            <textarea class="form-control" id="EmailMessage" name="EmailMessage" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height:250px;"></textarea>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </form>

<script type="text/javascript">
   
</script>
    
    