﻿@using Cvpa.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content
{
   <form action='@Url.Action("Create", "Email")' class="form form-vertical" method="post">

       <div class="alobin-panel" style="width:1000px;margin:0 auto;">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <div class="row">
                       <div class="col-md-6">
                           <h4>
                               <a href="@Url.Action("Index", "Email")">Sent Email List</a> &raquo; Send Email
                           </h4>
                       </div>
                       <div class="col-md-6 right">
                           <a href="@Url.Action("Index", "Email")" class="btn btn-default">Sent Email List</a>
                           @*<button type="submit" class="btn">Receipt List</button>*@
                       </div>
                   </div>
                   <div class="clearfix">&nbsp;</div>
               </div>
               <div>@Html.Raw(ViewBag.Message)</div>

               <div class="panel-body">

                   <input id="EmailID" name="EmailID" type="hidden" value="0">
                   <div class="row">
                       @*<div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="Type">Recipient Type</label>
                                <div class="input-group">

                                    <span class="input-group-addon"><span class="glyphicon glyphicon-tint"></span></span>
                                    @*<input class="form-control" id="Type" name="Type" type="text" value="">
                                    <select id="Type" name="Type" class="form-control">
                                        <option value="">Select Recipients</option>
                                        <option value="Instructor">Instructor</option>
                                        <option value="Student">Student</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@
                       <div class="col-lg-8 col-md-8">
                           <div class="form-group">
                               <label class="control-label" for="Recipients">Recipients</label>
                               <div class="input-group ">
                                   <span class="input-group-addon"><span class="glyphicon glyphicon-tint"></span></span>
                                   <input class="form-control" id="Recipients" name="Recipients" type="text" value="">
                               </div>
                               <span class="help-block">For multiple recipients use comma eg: (admin@gmail.com, test@gmail.com)</span>
                           </div>
                       </div>
                       <div class="col-lg-4 col-md-4">
                       </div>
                       <div class="col-lg-8 col-md-8">
                           <div class="form-group">
                               <label class="control-label" for="EmailSubject">Subject</label>
                               <div class="input-group">
                                   <span class="input-group-addon"><span class="glyphicon glyphicon-tint"></span></span>
                                   <input class="form-control" id="EmailSubject" name="EmailSubject" type="text" value="">
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-4 col-md-4">
                       </div>
                       <div class="col-lg-8 col-md-8">
                           <div class="form-group">
                               <label class="control-label" for="EmailMessage">Message</label>
                               <textarea class="form-control" id="EmailMessage" name="EmailMessage" data-autosize-on="true" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height:250px;"></textarea>
                           </div>
                       </div>
                   </div>

                   <div class="panel-footer">
                       <div class="text-right">
                           <button type="submit" class="btn btn-primary btn-lg CreateMember">Save</button>
                       </div>
                   </div>

               </div>
           </div>
       </div>

</form>
}
@section Scripts {

    <script src="@Url.Content("~/Content/js/wysihtml5-0.3.0.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-wysihtml5.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#EmailMessage').wysihtml5();

            $("#Type").change(function () {
                $("#Recipients").val("");
            });
            function split(val) {
                return val.split(/,\s*/);
            }

            function extractLast(term) {
                return split(term).pop();
            }

            $('#Recipients').autocomplete({

                source: function (request, response) {
                    var RecipientType = $("#Type").val();
                    var url = "";
                    if (RecipientType == 'Student') {
                        url = '@Url.Action("GetStudents", "Student")';
                    } else if (RecipientType == "Instructor") {
                        url = '@Url.Action("GetEmployees", "Employee")';
                    } else {
                        alert("Please Select the Recipient Type");
                    }
                    if (url != '') {
                        $.ajax({
                            url: url,
                            data: { term: extractLast(request.term) },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.EmailAddress + ' - ' + item.FullName,
                                        value: item.EmailAddress,
                                        SelectedValue: item
                                    }
                                }));
                            }
                        });
                    }
                }, focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    terms.push(ui.item.value);
                    this.value = terms.join(", ");

                    return false;
                }
            });

        });
    </script>
}

