﻿@model Cvpa.Models.EmailListViewModel
@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content{
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Emails </h4>
                    </div>
                   @* <div class="col-md-3">
                        <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                        @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                    </div>
                    <div class="col-md-6">
                        <input type="reset" value="Clear Search" class="btn btn-inverse" />
                        <button class="btn btn-default" type="submit">Go!</button>
                        <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Print <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
           
                <div class="col-md-3 right">
                    <a href="@Url.Action("Create", "Email")" class="btn btn-default">Send Email</a>
                </div>
            

        </div>
    </div>
    @*<div class="panel-body advanced-search">
        <div class="col=md-12">
            <div class="col-md-3">
                <label for="FromDate">From Date</label>
                <input type="text" class="datepicker" name="InsuranceFilter.FromDate" id="FromDate" />
            </div>
            <div class="col-md-2">
                <label for="ToDate">To Date</label>
                <input type="text" class="datepicker" name="InsuranceFilter.ToDate" id="ToDate" />
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" type="submit">Go!</button>
            </div>
        </div>
    </div>*@
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                @Html.BootstrapPager(Model.Emails.CurrentPage,
                                            index => Url.Action("Index",
                                                                "Email",
                                                                new
                                                                {
                                                                    PageNumber = index,
                                                                    ItemsPerPage = Model.Emails.ItemsPerPage
                                                                }),
                                            Model.Emails.TotalItems,
                                            Model.Emails.ItemsPerPage,
                                            Model.Emails.TotalPages)
            </div>
            <div class="col-md-5">
                Showing @Model.Emails.Items.Count of @Model.Emails.TotalItems
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Sent Date</th>
                                <th>Recipient</th>
                                <th>Type</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Email in Model.Emails.Items)
                            {
                                <tr class='clickable-row crud-resource-row' data-href='@Url.Action("View/" + Email.EmailID)'>
                                    <td>@Email.SentDate</td>
                                    <td>@Email.Recipients</td>
                                    <td>@Email.Type</td>
                                    <td>@Email.EmailSubject</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-7">
                        @Html.BootstrapPager(Model.Emails.CurrentPage,
                                            index => Url.Action("Index",
                                                                "Email",
                                                                new
                                                                {
                                                                    PageNumber = index,
                                                                    ItemsPerPage = Model.Emails.ItemsPerPage
                                                                }),
                                            Model.Emails.TotalItems,
                                            Model.Emails.ItemsPerPage,
                                            Model.Emails.TotalPages)
                    </div>
                    <div class="col-md-5">
                        Showing @Model.Emails.Items.Count of @Model.Emails.TotalItems
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



}

@section Scripts
    {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/BulkOperation.js")"></script>
}
