﻿@model DrivingSchoolSystem.Models.EmailViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <div class="content-area content-header">
        <h3><a class="" href='@Url.Action("Index", "Email")'>Email</a></h3>
        <hr />
    </div>
<div class="content-area content-padded" id="student-view-div">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <div class="entity-info-block">
                            <div class="entity-info-type">Sent At</div>
                            <div class="entity-info-data">@Model.EmailData.SentDate</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="entity-info-block">
                            <div class="entity-info-type">Type</div>
                            <div class="entity-info-data">@Model.EmailData.Type</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="entity-info-block">
                            <div class="entity-info-type">Recipients</div>
                            <div class="entity-info-data">@Model.EmailData.Recipients</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="entity-info-block">
                            <div class="entity-info-type">Subject</div>
                            <div class="entity-info-data">@Model.EmailData.EmailSubject</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="entity-info-block">
                            <div class="entity-info-type">Message</div>
                            <div class="entity-info-data">@Model.EmailData.EmailMessage</div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
    </div>}