﻿@*@model Cvpa.Models.MagazineEditViewModel*@
@using Cvpa.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
   @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form" }))
   {
        var category = Model.CategoryData;
    <div class="alobin-panel" style="width:1100px;margin:auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="@Url.Action("Index", "Category")">Category</a> &raquo; Create
                        </h4>
                    </div>
                    <div class="col-md-6 right">
                        <!--<a href="@Url.Action("Create", "Category", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>-->
                        @*<button type="submit" class="btn">Save Receipt</button>*@
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div>@Html.Raw(ViewBag.Message)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><label for="CategoryName">Category Name</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="CategoryName" id="CategoryName" class="form-control focus" value="@category.CategoryName" required />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="CategoryType">Category Type</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <select class="form-control" name="CategoryType" id="CategoryType">
                                                        <option value="Account">Account</option>
                                                        <!--<option value="Receipt">Receipt</option>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg CreateMember">Save</button>
                </div>
            </div>
        </div>
    </div>
   }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            @{var category = Model.CategoryData;}

            // $("input[name=CategoryType][value='@category.CategoryType']").attr("selected", "selected");
            $("#CategoryType").val('@category.CategoryType');
        });

    </script>

}
  