﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="text-danger">Error.@Model.Exception.Message</h1>

            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
        </div>
    </div>
}