﻿
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content{
    <style type="text/css">
        .inner-panel {
                width : 742px;
                margin :0 auto;
            }
            #MobileNumber {
                width:72%;
            }
        #Message {
                width:80%;
        }
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
 
        
<div class="inner-panel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="text-center">
                    <h2>Send SMS to Members</h2>
                </div>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    <div class="panel-body">
        <div class="row">
            <table class="table ">
            <tr>
                <td>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="">Send SMS To : </span>
                    </div>
                </div>
                </td>
                <td>
                    <div class="col-md-10">
                    <!--    <input type="checkbox" id="SmsToAll" name="SmsToAll"/>-->
                        <select id="SmsTo" class="form-control">
                            <option value="Select">Select</option>
                            <option value="All">All</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Muslim">Muslim</option>
                            <option value="Christian">Christian</option>
                            <option value="Areawise">Area Wise</option>
                            <option value="IndividualMember">Individual Member</option>
                        </select>
                    </div>
                </td>
            </tr> 
            <tr>
                <td>
                    <div class="col-md-12">
                        <div class="input-group">Select the Area
                        </div>
                        </div>
                </td>
                <td>
                    <div class="col-md-10">
                      <input id="MembersArea" class="form-control" value=""/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="" style="float:left;">Send SMS to Particular Members: </span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col-md-6"><input cols="12" rows="6" id="MobileNumber" class="form-control" name="MobileNumber"/></div>
                </td>
            
            </tr>
            <tr>
               <td>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="" style="float:left;">Message: </span>
                        </div>
                    </div>
               </td>
               <td>
                    <div class="col-md-12"><textarea cols="30" rows="6" id="Message" name="Message" class="form-control" ></textarea>
                        <div style="float:left;display:inline;">
                        <span id="Remaining">(160&nbsp;</span>|<span id="Smscount">&nbsp;1)</span></div>
                
                    </div>
               </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="col-md-7"><span class="SuccessMessage pull-right " style="color:red;background-color:yellow;"></span></div>
                    <div class="col-md-4">
                        <button type="submit" id="SendSms" class="btn pull-right ">Send SMS</button><br><br>

                    </div>
                </td>
            </tr>
            </table>
        </div>
    </div>
    </div>
</div>
      
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            var $remaining = $('#Remaining'),
            $messages = $remaining.next();
            $("#MembersArea").attr('disabled', true);
            $("#MobileNumber").attr('disabled', true);
            $("#MembersArea").val('');
            $("#MobileNumber").val('');
            $("#SmsTo").change(function () {
                //alert($(this).val());
                var value = $(this).val();
                if (value == "Areawise") {
                    $("#MobileNumber").val('');
                    $("#MembersArea").attr('disabled', false);
                    $("#MobileNumber").attr('disabled', true);
                } else if (value == "IndividualMember") {
                    $("#MembersArea").val('');
                    $("#MobileNumber").attr('disabled', false);
                    $("#MembersArea").attr('disabled', true);
                } else {
                    $("#MembersArea").attr('disabled', true);
                    $("#MobileNumber").attr('disabled', true);
                    $("#MembersArea").val('');
                    $("#MobileNumber").val('');
                }
            });
            $('#Message').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining = messages * 160 - (chars % (messages * 160) || messages * 160);

                $remaining.text(remaining);
                $messages.text(messages);
            });
            $("#MembersArea").bind('keyup', function (event) {
                getMemberAreaAutoComplete(event);

            });
            function getMemberAreaAutoComplete(e) {

                $("#MembersArea").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("MembersAreaList", "Sms")?term=' + request.term,
                            // data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {

                                    return {
                                        label: item,
                                        value: item //+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                    }
                                    //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                        $("#MembersArea").val(ui.item.value);
                    }
                });
            }

            $("#SendSms").click(function () {
               
                var smsto = $("#SmsTo").val();
                var area = $("#MembersArea").val();
                var mobileno = $("#MobileNumber").val();
                if (smsto != "Select") {
                    if (confirm("Are you sure wnat to send SMS?")) {
                        var message = $("#Message").val();
                        if (message != "") {
                            $.ajax({
                                url: '@Url.Action("Send", "Sms")?SmsTo=' + smsto + '&Area=' + area + '&MobileNumber=' + mobileno + '&Message=' + message,
                                success: function (data) {
                                    return jQuery(".SuccessMessage").html(data).fadeOut(3600, function () {
                                        jQuery(".SuccessMessage").html('').show();
                                    });
                                }
                            });
                        } else {
                            return jQuery(".SuccessMessage").html("Please enter the Message to send").fadeOut(3600, function () {
                                jQuery(".SuccessMessage").html('').show();
                            });
                        }
                    }
                }
                else {
                    confirm("Please select the Send SMS To option.");
                }
            });

        });    
    </script>
}