﻿@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}


@section Content {

    @using (Html.BeginForm("Create", "Members", FormMethod.Post, new { @class = "form" }))
    {
        var member = Model.MemberData;
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="panel-title">
                            <a href="@Url.Action("Index", "Members")">Members</a> &raquo; Create      
                        </h4>
                    </div>
                    <div class="col-md-4 right">
                        <a href="@Url.Action("Create", "Members", new { locale = "en" })" class="btn btn-default">Show English</a>
                        <button type="submit" class="btn btn-primary">Save Member</button>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="MemberName">உறுப்பினர் பெயர்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="MemberName" id="MemberName" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="DateOfBirth">பிறந்த தேதி</label></td>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" placeholder="எ.கா: 12/03/1980" name="DateOfBirth" id="DateOfBirth" />
                                                </div>
                                                <div class="col-lg-2 text-center">
                                                    <label for="Age">வயது</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="Age" id="Age" />
                                                </div>
                                            </div>
                                        </td>
                                        <!--<td><input type="text" class="form-control" name="DateOfBirth" id="DateOfBirth" /></td>
							<td class="text-center"><label for="Age">Age</label></td>
							<td><input type="text" class="form-control" name="Age" id="Age" /></td>		-->
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="FatherName">தகப்பனார்  பெயர்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="FatherName" id="FatherName" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="NomineeName">வாரிசுதாரர் பெயர்</label></td>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="NomineeName" id="NomineeName" />
                                                </div>
                                                <div class="col-lg-2 text-center">
                                                    <label for="Relationship">உறவுமுறை</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="Relationship" id="Relationship" />
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="StoreName">கடையின் பெயர்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="StoreName" id="StoreName" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="StoreAddress">கடையின் முகவரி</label></td>
                                        <td colspan="4">
                                            <textarea class="form-control" name="StoreAddress" id="StoreAddress"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="PhoneNo">தொலைபேசி எண்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="PhoneNo" id="PhoneNo" /></td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="TelephoneNo">வீட்டு தொலைபேசி எண்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="TelephoneNo" id="TelephoneNo" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="StoreStartingYear">கடை துவக்கப்பட்ட ஆண்டு</label></td>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="StoreStartingYear" id="StoreStartingYear" />
                                                </div>
                                                <div class="col-lg-2 text-center">
                                                    <label for="TotalExperience">மொத்த அனுபவம்</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="TotalExperience" id="TotalExperience" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="HomeAddress">வீட்டு விலாசம்</label></td>
                                        <td colspan="4">
                                            <textarea class="form-control" name="HomeAddress" id="HomeAddress"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="BloodGroup">இரத்தப் பிரிவு</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="BloodGroup" id="BloodGroup" /></td>
                                    </tr>
                                    <tr>
                                        <td><label>குடும்பத்தில் உள்ள மொத்த உறுப்பினர்கள்</label></td>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <label class="col-lg-3" for="MaleCount">ஆண்</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" name="MaleCount" id="MaleCount" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <label class="col-lg-3" for="FemaleCount">பெண்</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" name="FemaleCount" id="FemaleCount" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">&nbsp;</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="StaffsCount">கடையில் பணிபுரியும்  ஆட்கள் மொத்தம்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="StaffsCount" id="StaffsCount" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="CategoryName">சமுகத்தின் பெயர்</label></td>
                                        <td colspan="4">
                                            <input type="radio" id="SC" name="categories" />
                                            <label for="SC">SC</label>
                                            &nbsp;
								<input type="radio" id="ST" name="categories" />
                                            <label for="ST">ST</label>
                                            &nbsp;
								<input type="radio" id="OBC" name="categories" />
                                            <label for="OBC">OBC</label>
                                            &nbsp;
								<input type="radio" id="BC" name="categories" />
                                            <label for="BC">BC</label>&nbsp;
								<input type="radio" id="MBC" name="categories" />
                                            <label for="MBC">MBC</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="Qualification">கல்வித்தகுதி</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="Qualification" id="Qualification" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="SpecialistIn">எந்த வாகனத்தின்( Specialist)</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="SpecialistIn" id="SpecialistIn" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="AreaName">பகுதியின் பெயர்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="AreaName" id="AreaName" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="BankName">வங்கியில் கணக்கு உள்ளதா? இருப்பின் வங்கியின் பெயர் கணக்கு எண்.</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="BankName" id="BankName" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="AccountNo">நம்பர்</label></td>
                                        <td colspan="4">
                                            <input type="text" class="form-control" name="AccountNo" id="AccountNo" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--end of col-lg-12-->
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Save Member</button>
                </div>
            </div>
        </div>
    }
    <!--end of row-->
}
