﻿@model Cvpa.Models.MemberEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <style>
        .ui-autocomplete {
            height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
    @using (Html.BeginForm("Create", "Members", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
    {
        var member = Model.MemberData;
        <input type="hidden" name="MembershipPaid" value="@member.MembershipPaid" />
        <input type="hidden" name="MemberType" value="@member.MemberType" />
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="panel-title">
                            <a href="@Url.Action("Index", "Members")">Members</a> &raquo; Edit
                        </h4>
                    </div>
                    <div class="col-md-4 right">
                        @* <a href="@Url.Action("Create", "Members", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>*@
                        <button type="submit" class="btn btn-primary CreateMember">Save Member</button>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="MemberName">Member No</label><br /><br /><br />

                                            <label for="MemberName">Member Name</label>

                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <span class="form-control">@member.MemberNo</span><br /><br /><input type="hidden" name="MemberNo" id="MemberNo" class="form-control focus" value="@member.MemberNo" /><br />

                                                    @Html.TextBox("MemberName", @member.MemberName, new { @class = "form-control member-auto-complete", required = "required" })

                                                    <input type="hidden" name="MemberID" id="MemberID" class="form-control" value="@member.MemberID" />

                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="UploadImage">Upload Image </label>
                                                </div>
                                                <div class="col-lg-5">
                                                    @if (@member.PhotoName == null || @member.PhotoName == "")
                                                    {
                                                        <img src="~/Content/Images/logo.png" id="UploadedImage" alt="Your Image" width="100" height="130" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Action("ShowImage", "Members", new { ID=@member.MemberID,PhotoURL=@member.PhotoName})" id="UploadedImage" alt="Your Image" width="100" height="130" />

                                                    }
                                                    <input type='file' name="FileData" id="FileData" onChange="uploadimage(this)" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="DateOfBirth">Date Of Birth</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control datepicker focus" placeholder="Eg: 12/03/1980" name="DateOfBirth" id="DateOfBirth" value="@member.DateOfBirth.ToString("dd/MM/yyyy")" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="Age">Age</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control focus" name="Age" id="Age" value="@member.Age" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="JoiningDate">Joining Date</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control date focus" name="JoiningDate" id="JoiningDate" placeholder="Eg: 12/03/1980" value="@member.JoiningDate.ToString("dd/MM/yyyy")" required />
                                                    <input type="hidden" class="form-control datepicker " name="MembershipStartDate" id="MembershipStartDate" value="@(member.MembershipStartDate.HasValue? @member.MembershipStartDate.Value.ToShortDateString(): "")" />
                                                    <input type="hidden" class="form-control datepicker " name="MembershipExpiryDate" id="MembershipExpiryDate" value="@(member.MembershipExpiryDate.HasValue? @member.MembershipExpiryDate.Value.ToShortDateString(): "")" />
                                                    @*<input type="hidden" class="form-control datepicker " name="MemberShipAmountPaidDate" id="MemberShipAmountPaidDate" value="@member.MemberShipAmountPaidDate.ToShortDateString()"/>*@
                                                    <input type="hidden" class="form-control datepicker " name="InsurancePaidDate" id="InsurancePaidDate" value="@member.InsurancePaidDate.ToShortDateString()" />
                                                    <input type="hidden" class="form-control datepicker " name="DismissDate" id="DismissDate" value="NULL" />

                                                    <input type="hidden" name="InsuranceAmount" id="InsuranceAmount" value="@member.InsuranceAmount" />
                                                    <input type="hidden" name="PhotoName" id="PhotoName" value="@member.PhotoName">

                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="Post">Designation</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    @*<input type="text" class="form-control member-auto-complete" name="MemberPost" id="MemberPost" value="@member.MemberPost" required />*@
                                                    <select id="MemberPost" name="MemberPost" class="form-control" required>
                                                        <option value="Photographer">Photographer</option>
                                                        <option value="Videographer">Videographer</option>
                                                        <option value="Mixer">Mixer</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label for="FatherName">Father's Name</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="FatherName" id="FatherName" value="@member.FatherName" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="BloodGroup">Blood Group</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="BloodGroup" id="BloodGroup" value="@member.BloodGroup" />
                                                </div>


                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="MaritalStatus">Marital Status</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="radio" id="MaritalStatusYes" name="MaritalStatus" value="Yes" />
                                                    <label for="MaritalStatusYes">Married</label>
                                                    <input type="radio" id="MaritalStatusNo" name="MaritalStatus" value="No" />
                                                    <label for="MaritalStatusNo">Single</label>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="WeddingDate">Wedding Date</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control date focus" name="WeddingDate" id="WeddingDate" value="@member.WeddingDate.ToString("dd/MM/yyyy")" />
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="SpouseName">Spouse Name</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="SpouseName" id="SpouseName" value="@member.SpouseName" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="NomineeName">Nominee Name</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="NomineeName" id="NomineeName" value="@member.NomineeName" />
                                                </div>
                                                <div class="col-lg-2">

                                                    <label for="Relationship">Relationship</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="Relationship" id="Relationship" value="@member.Relationship" />
                                                </div>

                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="Children1Name">Child Name 1</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" name="Children1Name" id="Children1Name" class="form-control " value="@member.Children1Name" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="">Child Name 2</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="Children2Name" id="Children2Name" class="form-control" value="@member.Children2Name" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="Child1DateOfBirth">Child Date of Birth 1</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" name="Child1DateOfBirth" id="Child1DateOfBirth" class="form-control date" value="@member.Child1DateOfBirth.ToString("dd/MM/yyyy")" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="">Child Date of Birth 2</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="Child2DateOfBirth" id="Child2DateOfBirth" class="form-control date" value="@member.Child2DateOfBirth.ToString("dd/MM/yyyy")" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="StoreName">Company Name</label>
                                        </td> @*---StoreName---*@
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="StoreName" id="StoreName" value="@member.StoreName" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="OwnerShipType">Mention Ownership Or Partnership</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="OwnerShipType" id="OwnerShipType" class="form-control" value="@member.OwnerShipType" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="StoreAddress">Company Address</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="StoreAddress" id="StoreAddress" value="@member.StoreAddress" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="StoreArea">Company Area</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input class="form-control member-auto-complete" name="StoreArea" id="StoreArea" value="@member.StoreArea" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <label for="StoreCity">Company City</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input class="form-control member-auto-complete" name="StoreCity" id="StoreCity" value="@member.StoreCity" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="StorePinCode">Pin Code</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input class="form-control member-auto-complete" name="StorePinCode" id="StorePinCode" value="@member.StorePincode" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="Zone">Zone</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input class="form-control focus member-auto-complete" name="Zone" id="Zone" value="@member.Zone" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="AadhaarNumber">Aadhaar Number</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input class="form-control" name="AadhaarNumber" id="AadhaarNumber" value="@member.AadhaarNumber">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td>
                                                <label for="DrivingLicenceNo">Driving Licence No</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                       <input type="text" class="form-control" name="DrivingLicenceNo" value="@member.DrivingLicenceNo" id="DrivingLicenceNo"  />
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="LicenceValidDate">Valid upto</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                          <input type="text" class="form-control datepicker" name="LicenceValidDate" value="@member.LicenceValidDate.ToString("dd/MM/yyyy")" id="LicenceValidDate" />
                                                    </div>
                                                </div>
                                                </td>
                                        </tr>*@
                                    <tr>
                                        <td>
                                            <label for="PhoneNo">Mobile No</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="MobileNo" value="@member.MobileNo" id="MobileNo" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="TelephoneNo">Landline No</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="TelephoneNo" value="@member.TelephoneNo" id="TelephoneNo" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td>
                                                <label for="StoreStartingYear">Company Starting Year</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control" name="StoreStartingYear" value="@member.StoreStartingYear" id="StoreStartingYear" />
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="TotalExperience">Experience</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control focus" name="TotalExperience" value="@member.TotalExperience" id="TotalExperience" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td>
                                            <label for="HomeAddress">Home Address</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control member-auto-complete" name="HomeAddress" id="HomeAddress" value="@member.HomeAddress" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <label for="HomeArea">Home Area</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input class="form-control member-auto-complete" name="HomeArea" value="@member.HomeArea" id="HomeArea" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="HomeCity">Home City</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input class="form-control member-auto-complete" name="HomeCity" value="@member.HomeCity" id="HomeCity" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <label for="HomePincode">Pin Code</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input class="form-control focus member-auto-complete" name="HomePincode" id="HomePincode" value="@member.HomePincode" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="TelephoneNo">Emergency No</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control" name="EmergencyNo" id="EmergencyNo" value="@member.EmergencyNo" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr><td>
                                            <label for="ProductServiceDivision">Product Services Division</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <input class="form-control member-auto-complete" name="ProductServiceDivision" value="@member.ProductServiceDivision" id="ProductServiceDivision" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Tolal Members of Family</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <label for="MalesCount">Males</label>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <input type="text" name="MalesCount" id="MalesCount" value="@member.MalesCount" class="form-control focus" />
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="FemalesCount">Females</label>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <input type="text" name="FemalesCount" id="FemalesCount" value="@member.FemalesCount" class="form-control focus" />
                                                    </div>
                                                    <div class="col-lg-2">&nbsp;</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="StaffsCount">Number Of Staffs</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control focus" name="StaffsCount" id="StaffsCount" value="@member.StaffsCount" required />
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="Email">Email ID</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control" name="Email" id="Email" value="@member.Email"/>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>*@
                                    @*<tr>
                                            <td>
                                                <label for="Community">Category Name</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-5" >
                                                    <input type="radio" id="SC" name="Community" value="SC" />
                                                    <label for="SC">SC</label>
                                                    <input type="radio" id="ST" name="Community" value="ST"/>
                                                    <label for="ST">ST</label>
                                                    <input type="radio" id="OBC" name="Community" value="OBC"/>
                                                    <label for="OBC">OBC</label>
                                                    <input type="radio" id="BC" name="Community" value="BC"/>
                                                    <label for="BC">BC</label>
                                                    <input type="radio" id="MBC" name="Community" value="MBC"/>
                                                    <label for="MBC">MBC</label>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label for="Religion">Religion</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control" name="Religion" id="Religion" value="@member.Religion"/>
                                                    </div>
                                                    </div>
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td>
                                            <label for="Qualification">Qualification</label>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type="text" class="form-control member-auto-complete" name="Qualification" id="Qualification" value="@member.Qualification" />
                                                </div>
                                                <div class="col-lg-2"> <label for="Reference">Reference</label></div>
                                                <div class="col-lg-5"> <input type="text" class="form-control member-auto-complete" name="Reference" id="Reference" value="@member.Reference" /></div>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td>
                                                <label for="BankName">Bank Name</label></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control member-auto-complete" name="BankName" value="@member.BankName" id="BankName" />
                                                    </div>
                                                    <div class="col-lg-2"><label for="AccountNo">Account No</label></div>
                                                    <div class="col-lg-5"> <input type="text" class="form-control" name="AccountNo" value="@member.AccountNo" id="AccountNo" /></div>
                                                </div>
                                           </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!--end of col-lg-12-->
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg CreateMember">Save Member</button>
                </div>
            </div>
        </div>
    }
    <!--end of row-->
}
@section Scripts {

    <script type="text/javascript">
        jQuery(document).ready(function () {
            @{var member = Model.MemberData;}

            $("#MemberPost option[value='@member.MemberPost']").prop("selected", "selected");

            $("input[name=Community][value='@member.Community']").attr("checked", "checked");

            $("input[name=MaritalStatus][value='@member.MaritalStatus']").attr("checked", "checked");

            // Date Picker Coding
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:',
                scrollInput: false,
                defaultDate: new Date(),

                onSelect: function (value, ui) {
                    console.log(ui.selectedYear)
                    var today = new Date();
                    var format = value.split("/");
                    var dob = new Date(format[2], format[1] - 1, format[0]);
                    var diff = (today - dob);
                    var age = Math.floor(diff / 31536000000);
                    console.log("age = " + diff);
                    $("#Age").val(age);
                    var id = $(this).attr("id");
                    console.log(id + "= id");
                    if (id == "DateOfBirthStr") {
                        $("#Age").val(age);
                    }
                }
            });//.datepicker("setDate", new Date());

            //$('.datepicker').datetimepicker({
            //    format: 'd/m/Y',
            //    timepicker: false,

            //    onSelectDate: function (value, ui) {
            //       // alert("");
            //        console.log(ui.selectedYear);
            //        var today = new Date(),
            //        age = today.getFullYear() - ui.selectedYear;
            //        $("#Age").val(age);
            //    }
            //});

            $('.date').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                scrollInput: false,

            });
            // Focusing the Input fields when user clicks.
            $(".focus").click(function () {
                if ($(this).val() == '0') {
                    $(this).val("");
                }
            });

            // Save the uploaded image
            $(".CreateMembers").click(function () {

                var ScanFile = $("#ScanFile").val();
                var MemberName = $("#MemberName").val();
                var DOB = $("#DateOfBirth").val();
                //alert("Hi ScanFile = "+ScanFile);
                $.ajax({
                    url: '@Url.Action("UploadImage","Members")?ScanFile=' + ScanFile + '&MemberName=' + MemberName + '&DOB=' + DOB,
                    success: function () {

                    }
                });
            });

            // Registration Form Autocomplete

            $(".member-auto-complete").bind('keyup', function (event) {
                var ColumnName = $(this).attr("id");
                //alert("Column Name = " + ColumnName);
                getMemberAutoComplete(ColumnName, event);

            });
            function getMemberAutoComplete(ColumnName, e) {

                $(".member-auto-complete").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMemberAutoComplete", "Members")?ColumnName=' + ColumnName + '&term=' + request.term,
                            // data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {

                                    return {
                                        label: item,
                                        value: item //+ '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName
                                    }
                                    //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                        $("#" + ColumnName).val(ui.item.value);
                        /*  $("#MembershipNo").val(ui.item.value.split("--")[0]);
                          $("#MemberName").val(ui.item.value.split("--")[1]);
                          $("#Address").val(ui.item.value.split("--")[2]);
                          $("#PhoneNo").val(ui.item.value.split("--")[3]);
                          $("#StoreName").val(ui.item.value.split("--")[4]);*/
                    }
                });
            }

        });

        // Uploaded Image displaying
        function uploadimage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#UploadedImage')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}