﻿@model Cvpa.Models.MemberListViewModel
@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <style>
        /*.alert {
          background-color:#FEB8B8 !important;
        }*/
        .advanced-search {
            background-color: #eee;
        }
    </style>

    <div class="col-md-12">
        <div style="color:red;font-weight:bold;" id="Result"></div>
    </div>
    @using (Html.BeginForm("Index", "Members", FormMethod.Post, new { enctype = "multipart/form-data", id = "MemberForm" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <!--<div class="col-md-2">
                                <h4>Members </h4>
                            </div>-->
                            <div class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon">Member Type</div>
                                    <select class="form-control" name="MemberFilter.MemberType" id="MemberType">
                                        <option value="">All</option>
                                        <option value="LifeMembers">Life Members</option>
                                        <option value="ActiveMembers">Active Members</option>
                                        <option value="ExpiredMembers">Members to be Renewed</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="col-md-2">
                                <div class="input-group">
                                     <div class="input-group-addon">Zone</div>
                                    <select id="Zone" name="MemberFilter.Zone" class="form-control">
                                        <option value="">Select Zone</option>
                                        @if(Model.Zones.Count > 0) {
                                            foreach (var zone in Model.Zones)
                                            {
                                                <option value="@zone">@zone</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon">Area</div>
                                    <select id="Area" name="MemberFilter.StoreArea" class="form-control">
                                        <option value="">Select Area</option>
                                        @if (Model.StoreArea.Count > 0) {
                                        foreach(var storeArea in Model.StoreArea)
                                        {
                                            <option value="@storeArea">@storeArea</option>
                                        }
                                    }
                                    </select>
                                    </div>
                                </div>*@
                            <div class="col-md-2">
                                <div class="input-group">
                                    <div class="input-group-addon">Members</div>
                                    <input type="text" name="MemberFilter.Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                    @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-default" type="submit">Go!</button>
                                <div class="btn-group">
                                    <button class="btn btn-inverse" type="reset" value="Clear Search" >Clear Search</button>
                                    <button class="btn btn-default advanced-button" type="button">Advanced Search</button>

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                    </button>
                                    <input type="hidden" name="MemberFilter.PrintOption" id="MembersPrintOption" value="" />
                                    <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#" class="PrintMemberDetails" id="PrintAddress">Print Address</a></li>
                                        <li><a href="#" class="PrintMemberDetails" id="PrintAddressWithImage">Print Address with Image</a></li>
                                        <li><a href="#" class="PrintMemberDetails" id="PrintList">Print Member List</a></li>-->
                                        <li><a href="#" class="PrintMemberDetails" id="MembersAddress">Print Address</a></li>
                                        <li><a href="#" class="PrintMemberDetails" id="MembersAddressWithImage">Print Address with Image</a></li>
                                        <li><a href="#" class="PrintMemberDetails" id="MembersList">Print Member List</a></li>
                                        @*<li><a href="#" class="PrintMemberDetails" id="PrintDismissedList">Print Dismissed Member List</a></li>*@
                                    </ul>
                                </div>
                                <a href="@Url.Action("Create", "Members")" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp; Create Member</a>
                            </div>

                        </div>
                    </div>
                    <div class="">
                        @*<a href="@Url.Action("GetMemberExpiryList", "Members")" class="btn btn-default confirmation" id="MemberExiprySMS">Send SMS for Expired Members</a>*@
                        @*<a href="#" class="btn btn-default confirmation" id="MemberExiprySMS">Send SMS for Expired Members</a>*@

                        @*<a href="#" class="btn btn-default confirmation" id="BirthdaySMS">Send Birthday SMS</a>*@
                    </div>

                </div>
            </div>
            <div class="panel-body advanced-search">
                <div class="col=md-12">
                    <div class="col-md-3">
                        <label for="FromDate">From Date</label>
                        <input type="text" class="datepicker" name="MemberFilter.FromDate" id="FromDate" value="" />
                    </div>
                    <div class="col-md-2">
                        <label for="ToDate">To Date</label>
                        <input type="text" class="datepicker" name="MemberFilter.ToDate" id="ToDate" value="" />
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
                <div class="col=md-12">
                    <div class="col-md-2">
                       
                        @*<input type="text" id="HiddenZone" name="MemberFileter.Zone"/>*@
                    </div>
                    <div class="col-md-3">
                        <label for="Area">Area</label>
                        <select id="Area" name="MemberFilter.StoreArea" class="form-control">
                            <option value="">Select Area</option>
                        </select>
                        @*<input type="text" id="HiddenStoreArea" name="MemberFileter.StoreArea" />*@
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Members.Items.Count == 0)
                    {
                        <div id="EmptyBookings">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="warning-content">
                                        <h2><i class="fa fa-warning fa-2x warning-icon"></i></h2>
                                        <h3>
                                            Currently there are no Members.
                                            <a href="@VirtualPathUtility.ToAbsolute("~/Members/Create")" class="btn btn-info add-booking" type="button">Create Member</a>
                                        </h3>
                                        <br />
                                    </div>
                                </div><!--/. col-md-12-->
                            </div><!--/. row -->
                        </div><!-- /#BookingListScrollSpyDiv -->
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Member Image</th>
                                            <th>Member ID</th>
                                            <th>Member Name</th>
                                            <!--<th>Specialist In</th>
                                            <th>ExpiryDate</th>-->
                                            <th>Mobile No</th>
                                            <th>Area</th>
                                            <th>Membership Paid</th>
                                            <th>Expiry Date</th>
                                            <th>Edit <!--/ Delete--> / Print</th><!--/ Dismiss</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Member in Model.Members.Items)
                                        {
                                            var MembershipPaid = "";
                                            int currentDay = DateTime.Now.Day;
                                            int currentMonth = DateTime.Now.Month;
                                            int currentYear = DateTime.Now.Year;
                                            // var expiryDate = DateTime.Now.Date(@Member.MembershipExpiryDate);

                                            string CDate = DateTime.Now.Date.ToString("dd/MM/yyyy");
                                            DateTime CurrentDate = Convert.ToDateTime(CDate);

                                            @*if (CurrentDate <= @Member.MembershipExpiryDate)
                                                {*@
                                            <tr>
                                                <td>
                                                    @if (@Member.PhotoName == null || @Member.PhotoName == "NULL" || Member.PhotoName == "")
                                                    {
                                                        <img src="~/Content/Images/logo_2.png" id="" alt="Your Image" width="80" height="110" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Action("ShowImage", "Members", new { ID = @Member.MemberID, PhotoURL = @Member.PhotoName })" id="" alt="Your Image" width="80" height="110" />
                                                    }
                                                </td>
                                                <td><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.MemberNo</a></td>
                                                <td><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.MemberName </a></td>
                                                @*<td class="">@Member.SpecialistIn</td>
                                                    <td class="">@Member.MembershipExpiryDate.ToString("dd/MM/yyyy") ----- @DateTime.Now.Date.ToString("dd/MM/yyyy")</td>*@
                                                <td>@Member.MobileNo</td>
                                                <td>@Member.StoreArea</td>
                                                <td><span class="Membership">@Member.MembershipPaid</span></td>
                                                <td>
                                                    @if (Member.MembershipExpiryDate.HasValue)
                                                    {
                                                        <a href="@Url.Action("Index", "Receipt")?Query=@Member.MemberNo">@Member.MembershipExpiryDate.Value.ToString("MMM") - @Member.MembershipExpiryDate.Value.Year</a>
                                                    }
                                                </td>
                                                <td>
                                                    @*<a href="#" class="DeleteMember"><input type="hidden" class="DeleteMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-trash"></span></a>*@
                                                    <a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })"><span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span></a>
                                                    @*
                                                        / <a href="#" class="DeleteMember"><input type="hidden" class="DeleteMemberID" value="@Member.MemberID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span></a>
                                                    *@
                                                    / <a href="#" class="PrintSingleMember"><input type="hidden" class="PrintSingleMemberID" value="@Member.MemberID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span></a>
                                                    @*/ <a href="#" class="MemberDismiss"><input type="hidden" class="DismissMemberID" value="@Member.MemberID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Dismiss" class="glyphicon glyphicon-ban-circle"></span></a>*@
                                                </td>
                                            </tr>
                                            @*}*@
                                            @*else
                                                {
                                                     <tr >
                                                        <td>
                                                        @if (@Member.PhotoName == null || @Member.PhotoName == "")
                                                        {
                                                           <img src="~/Content/Images/logo.png" id="" alt="Your Image" width="80" height="110"/>
                                                        }
                                                        else
                                                        {
                                                            <img src="@Url.Action("ShowImage", "Members", new { ID = @Member.MemberID, PhotoURL = @Member.PhotoName })" id="" alt="Your Image" width="80" height="110"/>
                                                        }</td>
                                                        <td class="alert"><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.MemberNo</a></td>
                                                        <td class="alert"><a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })">@Member.MemberName</a></td>
                                                       @* <td class="alert">@Member.SpecialistIn</td>
                                                        <td class="alert">@Member.MembershipExpiryDate.ToString("dd/MM/yyyy") ----- @DateTime.Now.Date.ToString("dd/MM/yyyy") </td>
                                                        <td class="alert">@Member.MobileNo</td>
                                                        <td class="alert">@Member.StoreArea</td>

                                                        <td class="alert"><span class="Membership">@Member.MembershipPaid</span></td>
                                                        <td class="alert">@*<a href="#" class="DeleteMember"><input type="hidden" class="DeleteMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-trash"></span></a> /
                                                                   <a href="@Url.Action("Edit", "Members", new { MemberID = @Member.MemberID })"><span class="glyphicon glyphicon-edit"></span></a>
                                                                   / <a href="#" class="DeleteMember"><input type="hidden" class="DeleteMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                                   / <a href="#" class="PrintSingleMember"><input type="hidden" class="PrintSingleMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-print"></span></a>
                                                                   / <a href="#" class="MemberDismiss"><input type="hidden" class="DismissMemberID" value="@Member.MemberID"> <span class="glyphicon glyphicon-ban-circle"></span></a>
                                                                </td>
                                                            </tr>
                                                    }*@
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    @Html.BootstrapPager(Model.Members.CurrentPage,
                             index => Url.Action("Index",
                                                 "Members",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Members.ItemsPerPage },
                                                     { "MemberFilter.Query", Model.MemberFilter.Query },
                                                     { "MemberFilter.MemberType", Model.MemberFilter.MemberType },
                                                     { "MemberFilter.FromDate", Model.MemberFilter.FromDate },
                                                     { "MemberFilter.ToDate", Model.MemberFilter.ToDate },
                                                     { "MemberFilter.Zone", Model.MemberFilter.Zone},
                                                     { "MemberFilter.StoreArea", Model.MemberFilter.StoreArea}
                                                 }),
                             Model.Members.TotalItems,
                             Model.Members.ItemsPerPage,
                             Model.Members.TotalPages)

                                    @*@Html.BootstrapPager(Model.Members.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Members",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Members.ItemsPerPage,
                                                                Query = Request["Query"],
                                                                "MemberFilter.MemberType" = Model.MemberFilter.MemberType
                                                            }),
                                        Model.Members.TotalItems,
                                        Model.Members.ItemsPerPage,
                                        Model.Members.TotalPages)*@
                                </div>
                                <div class="col-md-3">
                                    Showing @Model.Members.Items.Count of @Model.Members.TotalItems member(s)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                scrollInput: false,
                defaultDate: new Date(),
                yearRange: "c-100:c+50"
            });
            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });

            function onLoad() {
                $("#Query").val("@Model.MemberFilter.Query");
                $("#MemberType").val("@Model.MemberFilter.MemberType");
                $("#FromDate").val("@Model.MemberFilter.FromDate");
                $("#ToDate").val("@Model.MemberFilter.ToDate");
                $("#Zone").val("@Model.MemberFilter.Zone");
                $("#Area").val("@Model.MemberFilter.StoreArea");
                $(".advanced-search").hide();
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                if ((fromdate != "") || (todate != "")) {
                    $(".advanced-search").show();
                } else if ((fromdate == "") || (todate == "")) {
                    $(".advanced-search").hide();
                }
            }


            $(".DeleteMember").click(function () {
                var MemberID = $(this).find(".DeleteMemberID").val();
                if (confirm("Are you sure want to delete the member ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Members")?ID=' + MemberID,
                        success: function (DeleteMember) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });



            $(".PrintSingleMember").click(function () {
                var MemberID = $(this).find(".PrintSingleMemberID").val();
                window.open('@Url.Action("MembersSinglePrint", "Members")?MemberID=' + MemberID, '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            $("#Query").val(RequestQuery);

            $(".PrintMemberDetails").click(function () {
                @*
                var value = $(this).attr('id');
                var memberType = $("#MemberType").val();
                var RequestQuery = $("#Query").val();//$("#RequestQuery").val();

                if (value == 'PrintAddress') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersAddress&MemberType=' + memberType, '_blank', "width=900, height=600");
                }
                else if (value == 'PrintAddressWithImage') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersAddressWithImage&MemberType=' + memberType, '_blank', "width=900, height=600");
                }
                else if (value == 'PrintList') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersList&MemberType=' + memberType, '_blank', "width=900, height=600");
                }
                else if (value == 'PrintDismissedList') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersDismissedList&MemberType=' + memberType, '_blank', "width=900, height=600");
                }
                *@
                var printOption = $(this).attr('id');
                $("#MembersPrintOption").val(printOption);
                window.open('@Url.Action("MembersPrint", "Members")?' + $("#MemberForm").serialize(), '_blank', "width=900, height=600");
            });

            $(".MemberDismiss").click(function () {
                //  var msg = window.prompt("Are you sure want to Dismiss the member. Please enter the reason for Dismiss", "");
                //  alert(msg);
                var MemberID = $(this).find(".DismissMemberID").val();
                if (confirm('Are you sure want to Dismiss the member')) {
                    var reason = window.prompt("Please enter the reason for Dismiss", "");
                    if (reason != "") {
                        $.ajax({
                            url: '@Url.Action("Dismiss", "Members")?ID=' + MemberID + '&Reason=' + reason,
                            success: function () {
                                location.reload();
                            }
                        });

                    } else {
                        reason = window.prompt("Reason Should not be empty", "");
                        if (reason != "") {
                            $.ajax({
                                url: '@Url.Action("Dismiss", "Members")?ID=' + MemberID + '&Reason=' + reason,
                                success: function () {
                                    location.reload();
                                }
                            });

                        }
                    }
                }

            });
            $('.confirmation').on('click', function () {
                return confirm('Are you sure wnat to send SMS?');
            });
            $("#MemberExiprySMS").click(function () {
                // alert("Hi");
                var query = $(this).val();
                //   if (confirm('Are you sure wnat to send SMS?')) {
                $.ajax({
                    url: '@Url.Action("GetMemberExpiryList", "Members")',
                    success: function (data) {

                        $("#Result").text(data);
                    }
                });
                //   }

            });

 
            $("#Zone").change(function () {
                zone = $(this).val();
                $("#Area").empty().append('<option value="">Select Area</option>');
                $.ajax({
                    url: '@Url.Action("GetAreaList","Members")?ZoneName=' + zone,
                    success: function (data) {
                        if (data != "") {
                            $.each(data, function (key, value) {
                                console.log("Tim");
                                $('#Area').append($("<option/>", {
                                    value: value,
                                    text: value
                                }));
                            });
                        }
                    }
                });
            });
            $("#BirthdaySMS").click(function () {
                // alert("Hi");
                var query = $(this).val();
                //   if (confirm('Are you sure wnat to send SMS?')) {
                $.ajax({
                    url: '@Url.Action("SendBirthdaySMS", "Members")',
                    success: function (data) {
                        // alert(data);
                        if (data != "")
                            $("#Result").text(data);
                        else
                            $("#Result").text("No Birthday's today");
                    }
                });
                //   }

            });

            $("[data-toggle=popover]").popover();

            onLoad();

        });
    </script>
}