﻿@model List<Cvpa.Models.Member>
@{
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style>
    .Red {
        background-color: #FEB8B8 !important;
    }

    .page {
        width: auto;
        min-height: 297mm;
        padding: 2mm;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }


    @@page {
        size: A4;
        /*margin: 10mm 20mm 20mm 5mm;*/
    }

    @@media print {

        .page {
            /*margin: 40pt 80pt 20pt 40pt;*/
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    .panel-body {
        margin: auto;
        width: 100%;
        /* border: 1px solid #dcdcdc;*/
        padding: 5px; /*15px;*/
        border-radius: 4px;
    }

    .signature {
        width: 33%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #000000;
    }
</style>

<div class="panel-body">
    <div class="main-header container-fluid">
        <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <br>
    <div class="">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>MemberNo</th>
                            <th>Member Name</th>
                            <th>MobileNo</th>
                            <th>Area</th>
                            <th>Membership Paid</th>
                            <th>Expiry Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var Member in Model.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            //var MembershipPaid = "";
                            //int currentDay = DateTime.Now.Day;
                            //int currentMonth = DateTime.Now.Month;
                            //int currentYear = DateTime.Now.Year;
                            //var Color = "";

                            //string CDate = DateTime.Now.Date.ToString("dd/MM/yyyy");
                            //DateTime CurrentDate = Convert.ToDateTime(CDate);
                            //if (CurrentDate <= @Member.Data.MembershipExpiryDate)
                            //{
                            //    MembershipPaid = "Paid";
                            //}
                            //else
                            //{
                            //    MembershipPaid = "Not Paid";
                            //}

                            <tr>
                                <td>@Member.Index</td>
                                <td>@Member.Data.MemberNo</td>
                                <td>@Member.Data.MemberName</td>
                                <td>@Member.Data.MobileNo</td>
                                <td>@Member.Data.StoreArea</td>
                                <td class="">@Member.Data.MembershipPaid</td>
                                <td>
                                    @if (Member.Data.MembershipExpiryDate.HasValue)
                                    {
                                        <span>@Member.Data.MembershipExpiryDate.Value.ToString("MMM") - @Member.Data.MembershipExpiryDate.Value.Year</span>
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.print();
</script>