﻿@model List<Cvpa.Models.Member>
 @{   
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style type="text/css">
    .Red {
        background-color : #FEB8B8 !important;   
    }
        body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;        
        background-color: #FAFAFA;
    }
    .page {
        width: auto;
        min-height: 297mm;
        padding: 12mm;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
   
    
    @@page {
        size: A4;
        /*margin: 10mm 20mm 20mm 5mm;*/
    }
    @@media print  {
       
        .page {
           /*margin: 40pt 80pt 20pt 40pt;*/
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
    /* @@media print {
          html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 80pt 40pt 20pt 40pt;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }

       .page .table-responsive {
                min-height: 300pt;
       }
    }*/
</style>
    <div class="page">
    <div class="main-content">
    <div class="main-header">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" alt="Logo" style="width:6%;"/>&nbsp;&nbsp;&nbsp;Motorcycle Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
        <h3>Members List</h3> 
    </div>
        
    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>MemberNo</th>
                                        <th>Member Name</th>
                                        <th>Address</th>
                                        <th>Joining Date</th>
                                        <th>Dismissed Date</th>
                                        <th>Reason For Dismiss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    @foreach (var Member in Model.Select((x, i) => new { Data = x,Index = i+1}))
                                    {
                                        
                                        <tr>
                                            <td>@Member.Index</td>
                                            <td>@Member.Data.MemberNo</td>
                                            <td>@Member.Data.MemberName</td>
                                            <td>@Member.Data.StoreAddress,<br/>
                                                @Member.Data.StoreArea-@Member.Data.StorePincode</td>
                                            <td>@Member.Data.JoiningDate.ToString("dd/MM/yyyy")</td>
                                            @if (Member.Data.DismissDate ==  DateTime.MinValue)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                            <td>@Member.Data.DismissDate.ToString("dd/MM/yyyy")</td>
                                            }
                                            <td>@Member.Data.DismissReason</td>
                                          
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    window.print();
</script>