﻿@model Cvpa.Models.MemberEditViewModel
@using Cvpa.Models;
@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var member = Model.MemberData;
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style>
      #memberInfo th, .table-title{
		font-size:14px;
	  }
	  img {
		margin-bottom: 10px;
	  }
       .header-color {
            color: #E59866;
        }

        .member-numbercolor {
            color: #2874A6
        }

        .member-namecolor {
            color: #2874A6
        }

        .member-table > thead > tr > th, .member-table > tbody > tr > th {
            color: #E59866;
        }

        .member-table > tbody > tr > td {
            color: #2874A6;
        }

        .member-heading {
            color: #E59866;
        }
    .container {
        border : 1px solid #0094ff;
    }
    
        .Receipt_Header {
            width : 100%;
        }
    @@media print {
        .header-color {
            color: #0040ff !important;
        }

        .member-numbercolor {
            color: #2874A6 !important;
        }

        .member-namecolor {
            color: #2874A6 !important;
        }

        .member-table > thead > tr > th, .member-table > tbody > tr > th {
            color: #E59866 !important;
        }

        .member-table > tbody > tr > td {
            color: #2874A6 !important;
        }

        .member-heading {
            color: #E59866 !important;
        }
    }
</style>
<div>
    <div class="container">
		<header>
            <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
			@*<h3 class="text-center">CHENNAI VIDEO PHOTOGRAPHERS ASSOCIATION</h3>*@
			<!--<address class="text-center">33/2  NAGAPPA MUDALI STREET KOMALEESWARANPET  CHENNAI 600 002</address>-->
			<div class="main-header">
            </div>
			
			<div class="row">
				<div class="col-xs-6 pull-left">
					<table class="table border-none" id="memberInfo">
						<tbody>
							<tr>
								<th class="col-lg-4 member-heading">Member Name</th>
								<th class="col-lg-8 member-namecolor">@member.MemberName</th>								
							</tr>
							<tr>
								<th class="col-lg-4 member-heading">Member No</th>
								<th class="col-lg-8 member-numbercolor"><b>@member.MemberNo</b></th>
							</tr>							
						</tbody>
					</table>
				</div>	
				
				<div class="col-xs-6 pull-right">
					
                    <img src="@Url.Action("ShowImage", "Members", new { ID=@member.MemberID,PhotoURL=@member.PhotoName})" id="UploadedImage" alt="Your Image" width="100" height="120"/>
				</div>				
			</div><!--end of row-->
			
		</header>
		<div class="row">			
			<div class="col-xs-12">				
				<table class="table table-bordered member-table"> 
					<thead>
						<tr>
							<th colspan="4" class="table-title text-center">Company Address Details</th>
						</tr>
					</thead>
					<tbody>					
						@*<tr>											
							<th>Joining Date</th>
							<td class="header-color">@member.JoiningDate.ToString("dd/MM/yyyy")</td>
							<th>S/O</th>
							<td class="header-color">@member.FatherName</td>	
						</tr>*@						
						<tr>						
							<th>Company Name</th>
							<td class="header-color">@member.StoreName</td>
							<th>Member Post </th>
							<td class="header-color">@member.MemberPost</td>												
						</tr>
						@*<tr>						
							<th>Nomini</th>
							<td class="header-color">@member.NomineeName</td>
							<th>Relationship</th>
							<td class="header-color">@member.Relationship</td>						
						</tr>*@
						<tr>
							<th>Address</th> 
							<td class="header-color">@member.StoreAddress </td>	
							<th>Area</th>
							<td class="header-color">@member.StoreArea</td>
						</tr>	
						<tr><th>City</th>
							<td class="header-color">@member.StoreCity</td>
							
							<th >Pin Code</th>
							<td class="header-color">@member.StorePincode</td>
						</tr>
						@*<tr>
							<th>Driving Licence No</th>
							<td>@member.DrivingLicenceNo</td>
							<th>Valid upto</th>
							<td>@member.LicenceValidDate.ToString("dd/MM/yyyy")</td>
						</tr>*@
						<tr>
							<th>Mobile No</th>
							<td class="header-color">@member.MobileNo</td>
							<th>Landline No</th>
							<td class="header-color">@member.TelephoneNo</td>
						</tr>			
					<!--==================================Personal Address=========================================-->
						<tr>
							<th colspan="4" class="table-title text-center">Personal Address and Risk Assesment Details</th>
						</tr>			
				
						@*<tr>
							<th>Home Address</th>
							<td>@member.HomeAddress</td>
							<th>Area</th>
							<td>@member.HomeArea</td>
						</tr>					
						<tr>
                            <th>City</th>
							<td>@member.HomeCity</td>
							
							<th>Pin Code</th>
							<td>@member.HomePincode</td>
						</tr>*@
						<tr>
							<th>Date of Birth</th>
							<td class="header-color">@member.DateOfBirth.ToString("dd/MM/yyyy")</td>
							<th>Marital Status</th>
							<td class="header-color">
                                    @member.MaritalStatus
                            </td>						
						</tr>
						<tr>
							<th>Spouse Name</th>
							<td>@member.SpouseName</td>
                            <th>Wedding Date</th>
                            <td>@member.WeddingDate.ToShortDateString()</td>
						</tr>
						<tr>
							<th>Blood group</th>
							<td class="header-color">@member.BloodGroup</td>
							<th>Qualification</th>
							<td class="header-color">@member.Qualification</td>
						</tr>
                        <tr>
                            <th>Home Address</th>
                            <td>@member.HomeAddress</td>
                            <th>Home Area</th>
                            <td>@member.HomeArea</td>
                        </tr>
                        <tr>
                            <th>Home City</th>
                            <td>@member.HomeCity</td>
                            <th>Home Pincode</th>
                            <td>@member.HomePincode</td>
                        </tr>
                        <tr>
							<th>Nominee Name</th>
							<td class="header-color">@member.NomineeName</td>
							<th>Relationship</th>
							<td class="header-color">@member.Relationship</td>
						</tr>
						<tr>
							<th>Emergency No</th>
							<td>@member.EmergencyNo</td>
							<th>Reference</th>
							<td>@member.Reference</td>
						</tr>
						@*<tr>
							<th>Membership Amount</th>
							<td class="header-color">@member.MembershipAmount</td>
							<th>Paid Date</th>
							<td class="header-color">@member.MemberShipAmountPaidDate.ToString("dd/MM/yyyy")</td>
						</tr>
						<tr>
							<th>Insurance Amount</th>
							<td class="header-color">@member.InsuranceAmount</td>
							<th>Paid Date</th>
							<td class="header-color">@member.InsurancePaidDate.ToString("dd/MM/yyyy")</td>
						</tr>
                        <tr>
                            <th>Aadhaar Number</th>
                            <td class="header-color">@member.AadhaarNumber</td>
                            <th>Specialist In</th>
                            <td class="header-color">@member.SpecialistIn</td>
                        </tr>
						<tr>
							<th>Community</th>
							<td class="header-color">@member.Community</td>
                            <th colspan="">Member Signature</th>
                            <td colspan="">@member.MemberSignatureUrl</td>
						</tr>*@
					</tbody>
				</table><!--end of table-->
			</div>
		</div>		
    </div><!--end of container-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var mebershipno = $(".MembershipNo").text();
       // alert(mebershipno);
         window.print();
        
     
    });
    
</script>