﻿@model List<Cvpa.Models.Member>
 @{   
    Page.Title = "MOTORCYCLE PAZUDHU PARPPORE NALA SAGAM";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style type="text/css">
    .AddressList {
        width : 33%;
        height : 25%;
        display : inline;
        float : left;
        text-decoration :none;
        padding : 5px;
        border : 0px solid #dcdcdc;

    }
   @@page {
        size: A4;
        margin: 0;
    }
    @@media print {
        main-content {
            width: 210mm;
            height: 290mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

</style>
<div class="main-content">
    <div class="main-header container-fluid">
        <h3 class="main-title text-center">&nbsp;&nbsp;&nbsp;Chennai Video & Photographers Association&nbsp;&nbsp;&nbsp;</h3>
    </div>
  
    <div class="page">
        <ul>
        @foreach (var Member in Model) { 
            <li class="AddressList">
                <b>@Member.MemberNo</b>                 
                @if (Member.MembershipExpiryDate.HasValue)
                {
                    <span>(@Member.MembershipExpiryDate.Value.ToString("MMM") - @Member.MembershipExpiryDate.Value.Year)</span>
                }
                <br />
                <b>@Member.MemberName</b><br/>
                @Member.StoreName<br/>
                @Member.StoreAddress<br/>
                @Member.StoreArea<br/>
                @Member.StoreCity - @Member.StorePincode<br/>      
                @*@Member.Zone<br />*@
                @Member.MobileNo<br/>
            </li>
        }
        </ul>
    </div>
</div>
<script type="text/javascript">
    window.print();
</script>
