﻿@model Cvpa.Models.InsuranceListViewModel
@using Cvpa.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color: #eee;
        }
    </style>
    @using (Html.BeginForm("Index", "Insurance", FormMethod.Post, new { enctype = "multipart/form-data", id = "InsuranceForm" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <h4>Insurance Receipts </h4>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                            </div>
                            <div class="col-md-6">
                                <input type="reset" value="Clear Search" class="btn btn-inverse" />
                                <button class="btn btn-default" type="submit">Go!</button>
                                <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                        <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*
                        <div class="col-md-3 right">
                            <a href="@Url.Action("Create", "Insurance")" class="btn btn-default">Create Receipt</a>
                        </div>
                    *@

                </div>
            </div>
            <div class="panel-body advanced-search">
                <div class="col=md-12">
                    <div class="col-md-3">
                        <label for="FromDate">From Date</label>
                        <input type="text" class="datepicker" name="InsuranceFilter.FromDate" id="FromDate" />
                    </div>
                    <div class="col-md-2">
                        <label for="ToDate">To Date</label>
                        <input type="text" class="datepicker" name="InsuranceFilter.ToDate" id="ToDate" />
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        @Html.BootstrapPager(Model.Insurances.CurrentPage,
                             index => Url.Action("Index",
                                                 "Insurance",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Insurances.ItemsPerPage },
                                                     { "Query", Request["Query"] },
                                                     { "InsuranceFilter.FromDate", Model.InsuranceFilter.FromDate },
                                                     { "InsuranceFilter.ToDate", Model.InsuranceFilter.ToDate }
                                                 }),
                             Model.Insurances.TotalItems,
                             Model.Insurances.ItemsPerPage,
                             Model.Insurances.TotalPages)
                    </div>
                    <div class="col-md-5">
                        Showing @Model.Insurances.Items.Count of @Model.Insurances.TotalItems member(s)
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Policy No</th>
                                        <th>MemberNo</th>
                                        <th>Member Name</th>
                                        @*<th>Paid Amount</th>
                                            <th>Paid Date</th>*@
                                        <th>Policy Expiry Date</th>
                                        <!--<th>Insurance For the Year</th>-->
                                        <th>Edit <!--/ Delete--> / Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Insurance in Model.Insurances.Items)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Edit", "Insurance", new {InsuranceID = @Insurance.InsuranceID})">@Insurance.PolicyNo</a></td>
                                            <td><a href="@Url.Action("Edit", "Insurance", new {InsuranceID = @Insurance.InsuranceID})">@Insurance.MemberNo</a></td>
                                            <td>@Insurance.MemberName</td>
                                            @*<td>@Insurance.PaidAmount</td>
                                                <td>@Insurance.ReceiptDate.ToString("dd/MM/yyyy")</td>*@
                                            <td>@*@Insurance.ReceiptFromYear.ToString("dd/MM/yyyy") -*@ @Insurance.ReceiptToYear.ToString("MMM") - @Insurance.ReceiptToYear.Year</td>
                                            <td>
                                                @*<a href="#" class="DeleteReceipt"><input type="hidden" class="DeleteInsuranceID" value="@Receipt.InsuranceID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                    / *@
                                                <a href="@Url.Action("Edit", "Insurance", new {InsuranceID = @Insurance.InsuranceID})"><span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span></a> /
                                                @*<a href="#" class="DeleteInsurance"><input type="hidden" class="DeleteInsuranceID" value="@Insurance.InsuranceID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span></a> /*@
                                                <a href="#" class="PrintSingleReceipt"><input type="hidden" class="PrintSingleInsuranceID" value="@Insurance.InsuranceID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.BootstrapPager(Model.Insurances.CurrentPage,
                             index => Url.Action("Index",
                                                 "Insurance",
                                                 new RouteValueDictionary
                                                 {
                                                     { "PageNumber", index },
                                                     { "ItemsPerPage", Model.Insurances.ItemsPerPage },
                                                     { "Query", Request["Query"] },
                                                     { "InsuranceFilter.FromDate", Model.InsuranceFilter.FromDate },
                                                     { "InsuranceFilter.ToDate", Model.InsuranceFilter.ToDate }
                                                 }),
                             Model.Insurances.TotalItems,
                             Model.Insurances.ItemsPerPage,
                             Model.Insurances.TotalPages)
                                @*
                                @Html.BootstrapPager(Model.Insurances.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Insurance",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Insurances.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Insurances.TotalItems,
                                        Model.Insurances.ItemsPerPage,
                                        Model.Insurances.TotalPages)
                                    *@
                            </div>
                            <div class="col-md-5">
                                Showing @Model.Insurances.Items.Count of @Model.Insurances.TotalItems member(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                //dateFormat: "yy-mm-dd",
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "c-100:c+50",
                scrollInput: false,
                defaultDate: new Date()
            });
            function onLoad() {

                $("#FromDate").val("@Model.InsuranceFilter.FromDate");
                $("#ToDate").val("@Model.InsuranceFilter.ToDate");

                $(".advanced-search").hide();
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                if ((fromdate != "") || (todate != "")) {
                    $(".advanced-search").show();
                } else if ((fromdate == "") || (todate == "")) {
                    $(".advanced-search").hide();
                }
            }

            $(".DeleteInsurance").click(function () {
                var InsuranceID = $(this).find(".DeleteInsuranceID").val();
                if (confirm("Are you sure want to delete the Insurance ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Insurance")?ID=' + InsuranceID,
                        success: function (DeleteReceipt) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });

            // Receipt Single Print
            $(".PrintSingleReceipt").click(function () {
                var InsuranceID = $(this).find(".PrintSingleInsuranceID").val();
                window.open('@Url.Action("InsuranceReceiptSinglePrint", "Insurance")?InsuranceID=' + InsuranceID + '&MemberID=0', '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            if (RequestQuery != null) {
                $("#Query").val(RequestQuery);
            }

            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });

            @*
            $(".PrintReceiptDetails").click(function () {
                var fromDateValue = $("#FromDate").val();
                var toDateValue = $("#ToDate").val();
                var RequestQueryStr = $("#Query").val();
                window.open('@Url.Action("InsuranceReceiptListPrint", "Insurance")?Query=' + RequestQueryStr + '&FromDate=' + fromDateValue + '&ToDate=' + toDateValue + '&PrintOption=PrintReceiptList', '_blank', "width=900, height=600");

            });
                *@

            $(".PrintReceiptDetails").click(function () {
                window.open('@Url.Action("InsuranceReceiptListPrint", "Insurance")?' + $("#InsuranceForm").serialize(), '_blank', "width=900, height=600");

            });
            $("[data-toggle=popover]").popover();
            onLoad();
        });
    </script>
}
