﻿@model Cvpa.Models.ReceiptEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@*@{ Screencustomization Start_Date = (Screencustomization)ViewData["Start_Date"];
    if (Start_Date == null)   {
        Start_Date = new Screencustomization();
    }

    Screencustomization End_Date = (Screencustomization)ViewData["End_Date"];
    if (End_Date == null)
    {
        End_Date = new Screencustomization();
    }

    }*@
@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        #ui-datepicker-div {
            z-index: 5 !important;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }

            .alobin-panel {
                width: 1000px !important;
                margin: 0 auto !important;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Receipt", FormMethod.Post, new { @class = "form" }))
    {
        var receipt = Model.ReceiptData;
        <div class="alobin-panel" style="width:1000px;margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("Index", "Receipt")">Reciepts</a> &raquo; Create
                            </h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("Index", "Receipt", new { locale = "tn" })" class="btn btn-default">Receipts List</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div>@Html.Raw(ViewBag.Message)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="col-md-4"></div>*@
                            <div class="col-md-7" id="alert"></div>
                            <div class="col-md-5 pull-right">
                                <label>Bill Date: </label><input type="text" class="datepicker" style="width:82%" name="ReceiptDate" id="ReceiptDate" value="@DateTime.Now.ToShortDateString()" />
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Bill No: </label>
                                <input type="text" name="ReceiptBillNo" id="ReceiptBillNo" value="" class="form-control" placeholder="" required />
                            </div>
                        </div>
                        <div class="col-md-5 ">
                            <div class="input-group col-md-12">
                                <label class="input-group-addon">Category </label>
                                <select class="form-control" name="CategoryID" id="CategoryID" required>
                                    @if (Model.Categorys.Count > 0)
                                    {
                                        <option value="0" disabled selected hidden>Select Category</option>
                                        foreach (var category in Model.Categorys)
                                        {
                                            <option value="@category.CategoryID">@category.CategoryName</option>
                                        }
                                    }
                                </select>
                                @*<input type="text" name="MemberNo" id="MemberNo" value="" class="form-control" placeholder="" required />*@
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Member No: </label>
                                <input type="text" name="MemberNo" id="MemberNo" value="" class="form-control" placeholder="" />
                                <input type="hidden" name="MemberID" id="MemberID" value="" />
                                <input type="hidden" name="ReceiptID" id="ReceiptID" value="" />
                                <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" />

                            </div>
                        </div>


                        <div class="clearfix">&nbsp;</div>

                        @* <div class="col-md-4">
                                <div class="input-group">
                                    <!--<label class="input-group-addon">Receipt No: </label>
                                    <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" class="form-control" placeholder="" />-->
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <br />*@
                        <div class="col-md-7">
                            <label for="MemberName">Name:</label>
                            <input type="text" name="MemberName" id="MemberName" value="" class="form-control" required />
                        </div>
                        <div class="col-md-5">
                            <span class="glyphicon glyphicon-earphone"></span>
                            <input type="text" name="MobileNo" id="MobileNo" value="" class="form-control" required />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <label for="StoreName">Company Name :</label>
                            <input type="text" name="StoreName" id="StoreName" value="" class="form-control" required />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-4">
                            <label for="Address">Address : </label>
                            <input type="text" name="StoreAddress" id="StoreAddress" value="" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label for="StoreArea"> Area :</label>
                            <input type="text" name="StoreArea" id="StoreArea" value="" class="form-control" required />
                        </div>
                        <div class="col-md-3">
                            <label for="StoreCity"> City : </label>
                            <input type="text" name="StoreCity" id="StoreCity" value="" class="form-control" required />
                        </div>
                        <div class="col-md-2">
                            <label for="StorePincode">Pincode :</label>
                            <input type="text" name="StorePincode" id="StorePincode" value="" class="form-control" required />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-3">
                            <label for="PaymentMode"> Payment Mode</label>
                            <select id="PaymentMode" name="PaymentMode" class="form-control" required>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="DD">DD</option>
                                <option value="NetBanking">Net Banking</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeNo">Bank Name</label>
                            <input type="text" name="BankName" id="BankName" placeholder="Enter the BankName" value="" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeNo">Cheque/DD No</label>
                            <input type="text" name="ChequeNo" id="ChequeNo" placeholder="Enter the ChequeNo" value="" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeDate"> Cheque/DD Date</label>
                            <input type="text" name="ChequeDate" id="ChequeDate" value="" class="form-control datepicker" />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <label for="AmountInWords">Received with thanks, the subscription fees of rupees </label> <input type="text" class="" name="AmountInWords" id="AmountInWords" value="" placeholder="Enter the Amount in words" required />   only for the year
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            <input type="text" name="ReceiptFromYear" id="ReceiptFromYear" class="datepicker" value="" required /> - <input type="text" name="ReceiptToYear" id="ReceiptToYear" class="datepicker" value="" required /> <strong>Rs.</strong><input type="number" name="PaidAmount" size="3" value="" maxlength="3" required />&nbsp;/-
                        </div>
                        @*<input type="hidden" class="form-control" value="Cash" name="PaymentMode" />*@
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn pull-right" id="form_submit">Save Receipt</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>

    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            //$('.datepicker').datepicker({
            //    dateFormat: "dd/mm/yy"
            //    maxDate: new Date(),
            //});

            function CheckCategory() {
                var memberno = $("#MemberNo").val();
                var category = $("#CategoryID").val();
                var msg = "Please select 'New Member' or 'LifeMember' Category for New Member registration";

                if (memberno == "" && category == "2") {
                    var html = '<div class="alert alert-danger alert-dismissible fade in" role="alert">'
                           + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
                           + msg
                           + '</div>';
                    $("#alert").html(html);
                    $("#CategoryID").val(0);
                } else {
                    $("#alert").html('');
                }
            }
            function CheckCategory() {
                var memberno = $("#MemberNo").val();
                var category = $("#CategoryID").val();
                if (memberno == "" && category == "1") {
                    $('#MemberNo').attr('disabled', true);
                    $("#alert").html(html);
                    $("#CategoryID").val(0);
                } else {
                    $('#MemberNo').attr('disabled', false);
                    $("#alert").html('');
                }
            }



            $("#CategoryID").on('change', function () {
                CheckCategory();
            });

            /*var dateFormat = "dd/mm/yy",
            from = $("#ReceiptFromYear")
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                dateFormat: 'dd/mm/yy'
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
            to = $("#ReceiptToYear").datepicker({
                defaultDate: "+1w",
                changeMonth: true
            })
            .on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }*/
            var startDateTimeElement = $(document).find("#ReceiptFromYear");
            var endDateTimeElement = $(document).find("#ReceiptToYear");
            var receiptDateElement = $(document).find(".datepicker");
            var startTime = "";

            $(startDateTimeElement).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                scrollInput: false,
                defaultDate: new Date(),
                onSelect: function (ct) {
                    var minDate = $(this).datepicker('getDate');
                    endDateTimeElement.datepicker('option', 'minDate', minDate);
                }
            });
            $(endDateTimeElement).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                scrollInput: false,
                defaultDate: new Date(),
                onSelect: function (ct) {
                    var maxDate = $(this).datepicker('getDate');
                    startDateTimeElement.datepicker('option', 'maxDate', maxDate);
                },
            });
            $(receiptDateElement).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });

            /*var startDateTimeElement = $(document).find("#ReceiptFromYear");
            var endDateTimeElement = $(document).find("#ReceiptToYear");
            var receiptDateElement = $(document).find("#ReceiptDate");
            var startTime = "";
            $(startDateTimeElement).datetimepicker({
                format: 'd/m/Y',//'d/m/Y h:i A'
                defaultSelect: true,
                timepicker: false,
                step: 5,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({
                        formatDate: 'd/m/Y',
                        maxDate: $(endDateTimeElement).val() ? $(endDateTimeElement).val() : false,
                    })
                }
            });
            $(endDateTimeElement).datetimepicker({
                format: 'd/m/Y',
                defaultSelect: true,
                timepicker: false,
                step: 5,
                scrollInput: false,
                onShow: function (ct) {
                    this.setOptions({
                        formatDate: 'd/m/Y',
                        minDate: $(startDateTimeElement).val() ? $(startDateTimeElement).val() : false
                    })
                }
             });
            $(receiptDateElement).datetimepicker({
                format: 'd/m/Y',
                defaultSelect: true,
                timepicker: false,
                step: 5,
                scrollInput: false
            });*/
            /* GetReceiptNo();
             function GetReceiptNo() {
                 $.ajax({
                     url: 'Url.Action("GetInitialNo", "InitialNo")?ResourceType=' + "Receipt",
                     success:function(receiptno) {
                        if (!receiptno == 'NULL' || !receiptno == '') {
                            // alert("Result =" + receiptno.ResourceType);
                             $("#ReceiptNo").val(receiptno.LastNo);
                         }
                      }
                 });
             }*/
            // ReceiptYear();
            $("#MemberNo").bind('keyup', function (event) {
                //$("input").val('');
                getMembershipNo(event);
            });

            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MemberNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {

                                    return {
                                        label: item.MemberNo + '--' + item.MemberName,
                                        value: item.MemberNo + '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.MobileNo + "--" + item.StoreName,
                                        data: item
                                    }
                                    //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                        $("#MemberNo").val(ui.item.data.MemberNo);
                        $("#MemberID").val(ui.item.data.MemberID);
                        $("#MemberName").val(ui.item.data.MemberName);
                        $("#StoreAddress").val(ui.item.data.StoreAddress);
                        $("#StoreArea").val(ui.item.data.StoreArea);
                        $("#StoreCity").val(ui.item.data.StoreCity);
                        $("#StorePincode").val(ui.item.data.StorePincode);
                        $("#MobileNo").val(ui.item.data.MobileNo);
                        $("#StoreName").val(ui.item.data.StoreName);
                        $("#MemberID").val(ui.item.data.MemberID);
                    }
                });
            }

        });

    </script>

}
