﻿@model Cvpa.Models.ReceiptEditViewModel
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{

    <style type="text/css">
        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
      @using (Html.BeginForm("Create", "Receipt", FormMethod.Post, new { @class = "form" }))
    {
    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4>
                            <a href="@Url.Action("Index", "Receipt")">Reciepts</a> &raquo; Create      
                        </h4>
                    </div>
                    <div class="col-md-4 right">
                        <a href="@Url.Action("Create", "Receipt", new { locale = "en" })" class="btn btn-default">Show English</a>
                        <button type="submit" class="btn">Save Receipt</button>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <hr />
                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">உறுப்பினர் எண்: </label>
                            <input type="text" name="MembershipNo" id="MembershipNo" value="" class="form-control" placeholder="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <span class="btn" style="border: 1px solid #777">ரசீது</span>
                        <p class="pull-right">தேதி: @DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()</p>
                        <input type="hidden" name="ReceiptDate " value="@DateTime.Now.ToShortDateString()  @DateTime.Now.ToShortTimeString()" />
                    </div>
                    <div class="clearfix">&nbsp;</div>

                    <div class="col-md-4">
                        <div class="input-group">
                            <label class="input-group-addon">ரசீது எண்: </label>
                            <input type="text" name="ReceiptNo" id="ReceiptNo" value="" class="form-control" placeholder="" />
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <br />
                    <div class="col-md-7">
                        பெயர்:
                        <input type="text" name="MemberName" value="" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <span class="glyphicon glyphicon-earphone"></span>
                        <input type="text" name="PhoneNo" value="" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        முகவரி:
                        <input type="text" name="Address" class="form-control" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        அவர்களிடமிருந்து <input type="text" name="ReceiptFromYear" value="20" size="4" maxlength="4"/> - <input type="text" name="ReceiptToYear" value="20" size="4" maxlength="4"/> ஆண்டு உறுப்பினர் கட்டணம் ரூபாய் இருநூற்று ஐம்பது  மட்டும்  அன்புடன் பெற்றுக்கொண்டோம்.  <strong>ரூ.</strong> <input type="text" name="PaidAmount" size="3"  value="250" maxlength="3"/>&nbsp;/-
                    <input type="hidden" class="form-control" value="Cash" name="PaymentMode" />
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
}
}