﻿@*@model Cvpa.Models.ReceiptEditViewModel*@
@using Cvpa.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@{ Screencustomization Start_Date = (Screencustomization)ViewData["Start_Date"];
    if (Start_Date == null)
    {
        Start_Date = new Screencustomization();
    }

    Screencustomization End_Date = (Screencustomization)ViewData["End_Date"];
    if (End_Date == null)
    {
        End_Date = new Screencustomization();
    }

}
@section Content
{

    <style type="text/css">
        .inner-panel {
            width: 742px;
            margin: 0 auto;
        }

        #ui-datepicker-div {
            z-index: 5 !important;
        }

        @@media print {

            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
    </style>
    @using (Html.BeginForm("Create", "Receipt", FormMethod.Post, new { @class = "form" }))
    {
        var receipt = Model.ReceiptData;
        <div class="inner-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>
                                <a href="@Url.Action("Index", "Receipt")">Reciepts</a> &raquo; Edit
                            </h4>
                        </div>
                        <div class="col-md-6 right">
                            <a href="@Url.Action("Index", "Receipt", new { locale = "tn" })" class="btn btn-default">Receipts List</a>
                            @*<button type="submit" class="btn">Receipt List</button>*@
                        </div>
                        <div class="col-md-6 right">
                            <!--<a href="@Url.Action("Create", "Receipt", new { locale = "tn" })" class="btn btn-default">Show Tamil</a>-->
                            @*<button type="submit" class="btn">Save Receipt</button>*@
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div>@Html.Raw(ViewBag.Message)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ReceiptDate"> Date: </label> <input type="hidden" name="ReceiptDate" id="ReceiptDate" value="@DateTime.Now.ToShortDateString()" />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label class="input-group-addon">Bill No: </label>
                                <input type="text" name="ReceiptBillNo" id="ReceiptBillNo" value="@receipt.ReceiptBillNo" class="form-control" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label class="input-group-addon">Member No: </label>
                                <input type="text" name="MemberNo" id="MemberNo" value="@receipt.MemberNo" class="form-control" placeholder="" readonly />
                                <input type="hidden" name="ReceiptID" id="ReceiptID" value="@receipt.ReceiptID" />
                                <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="@receipt.ReceiptNo" />
                                <input type="hidden" name="MemberID" id="MemberID" value="@receipt.MemberID" />

                            </div>
                        </div>
                        <div class="col-md-5 ">
                            <div class="input-group col-md-12">
                                <label class="input-group-addon">Category </label>
                                <select class="form-control" name="CategoryID" id="CategoryID">

                                    @foreach (var category in Model.Categorys)
                                    {
                                        if (@receipt.CategoryID == @category.CategoryID)
                                        {
                                            <option value="@category.CategoryID" selected="selected">@category.CategoryName</option>}
                                    }
                                    }
                                </select>
                                @*<input type="text" name="MemberNo" id="MemberNo" value="" class="form-control" placeholder="" required />*@
                            </div>

                        </div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <!--<label class="input-group-addon">Receipt No: </label>
                                <input type="hidden" name="ReceiptNo" id="ReceiptNo" value="" class="form-control" placeholder="" />-->
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <br />
                        <div class="col-md-7">
                            Name:
                            <input type="text" name="MemberName" id="MemberName" value="@receipt.MemberName" class="form-control" readonly />
                        </div>
                        <div class="col-md-5">
                            <span class="glyphicon glyphicon-earphone"></span>
                            <input type="text" name="MobileNo" id="MobileNo" value="@receipt.MobileNo" class="form-control" readonly />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            Shop Name :
                            <input type="text" name="StoreName" id="StoreName" value="@receipt.StoreName" class="form-control" readonly />
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            Address :
                            <input type="text" name="" id="" value="@receipt.StoreAddress, @receipt.StoreArea, @receipt.StoreCity, @receipt.StorePincode" class="form-control" readonly />
                            <input type="hidden" name="StoreAddress" id="StoreAddress" value="@receipt.StoreAddress" class="form-control" />
                            <input type="hidden" name="StoreArea" id="StoreArea" value="@receipt.StoreArea" class="form-control" />
                            <input type="hidden" name="StoreCity" id="StorePincode" value="@receipt.StoreCity" />
                            <input type="hidden" name="StorePincode" id="StorePincode" value="@receipt.StorePincode" /> 
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-3">
                            <label for="PaymentMode"> Payment Mode</label>
                            <select id="PaymentMode" name="PaymentMode" class="form-control" required>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="DD">DD</option>
                                <option value="Net Banking">Net Banking</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeNo">Bank Name</label>
                            <input type="text" name="BankName" id="BankName" placeholder="Enter the BankName" value="@receipt.BankName" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeNo">Cheque/DD No </label>
                            <input type="text" name="ChequeNo" id="ChequeNo" placeholder="Enter the ChequeNo" value="@receipt.ChequeNo" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label for="ChequeDate"> Cheque/DD Date</label>
                            @if (receipt.ChequeDate > DateTime.MinValue)
                            {
                                <input type="text" name="ChequeDate" id="ChequeDate" value="@receipt.ChequeDate.ToString("dd/MM/yyyy")" class="form-control datepicker" />}
                            else
                            {
                                <input type="text" name="ChequeDate" id="ChequeDate" value="" class="form-control datepicker" />
                            }
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-md-12">
                            Received with thanks, the subscription fees of rupees <input type="text" name="AmountInWords" id="AmountInWords" value="@receipt.AmountInWords" placeholder="Enter the Amount in words" required /> only for the year
                            <input type="text" name="ReceiptFromYear" id="ReceiptFromYear" class="datepicker" value="@receipt.ReceiptFromYear.ToString("dd/MM/yyyy")" /> - <input type="text" name="ReceiptToYear" id="ReceiptToYear" class="datepicker" value="@receipt.ReceiptToYear.ToString("dd/MM/yyyy")" /> <strong>Rs.</strong><input type="text" name="PaidAmount" size="3" value="@receipt.PaidAmount" maxlength="3" />&nbsp;/-
                            <input type="hidden" class="form-control" value="Cash" name="PaymentMode" />
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn pull-right">Save Receipt</button>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#PaymentMode").val('@Model.ReceiptData.PaymentMode');

            var startDateTimeElement = $(document).find("#ReceiptFromYear");
            var endDateTimeElement = $(document).find("#ReceiptToYear");
            var receiptDateElement = $(document).find(".datepicker");
            var startTime = "";

            $(startDateTimeElement).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                scrollInput: false,
                defaultDate: new Date(),
                onSelect: function (ct) {
                    var minDate = $(this).datepicker('getDate');
                    endDateTimeElement.datepicker('option', 'minDate', minDate);
                }
            });
            $(endDateTimeElement).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                scrollInput: false,
                defaultDate: new Date(),
                onSelect: function (ct) {
                    var maxDate = $(this).datepicker('getDate');
                    startDateTimeElement.datepicker('option', 'maxDate', maxDate);
                },
            });
            $(receiptDateElement).datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
            
            ReceiptYear();
            function ReceiptYear() {
                var fromyear = $("#ReceiptFromYear").val();
                var toyear = $("#ReceiptToYear").val();
                // alert("");
                if ((fromyear == '') && (toyear == '')) {
                    @{  string year = @DateTime.Now.Year.ToString();}
                    $("#ReceiptFromYear").val(@year);
                    $("#ReceiptToYear").val(@year);


                }
            }
            $("#MemberNo").bind('keyup', function (event) {
                //$("input").val('');
                getMembershipNo(event);

            });
            $("#StoreStartingYear").bind('keyup', function (event) {
                var startingyear = $(this).val();
                var currentTime = new Date();
                var year = currentTime.getFullYear();
                var month = currentTime.getMonth() + 1
                var experience = parseFloat(year) - parseFloat(startingyear);
                if (experience > 0) {
                    $("#TotalExperience").val(experience);
                }
                else {
                    $("#TotalExperience").val("6 months");
                }

            });
            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MemberNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            success: function (data) {
                                //alert("Success");
                                response($.map(data, function (item) {

                                    return {
                                        label: item.MembershipNo + '--' + item.MemberName,
                                        value: item.MembershipNo + '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.MobileNo + "--" + item.StoreName
                                    }
                                    //  alert(label);
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                        $("#MembershipNo").val(ui.item.value.split("--")[0]);
                        $("#MemberName").val(ui.item.value.split("--")[1]);
                        $("#Address").val(ui.item.value.split("--")[2]);
                        $("#MobileNo").val(ui.item.value.split("--")[3]);
                        $("#StoreName").val(ui.item.value.split("--")[4]);
                    }
                });
            }


        });

    </script>

}
