﻿@model Cvpa.Models.ReceiptListViewModel
@using Cvpa.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color: #eee;
        }
    </style>
    @using (Html.BeginForm("Index", "Receipt", FormMethod.Post, new { enctype = "multipart/form-data", id = "ReceiptForm" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Receipts </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                    @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>
                                        <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                                        <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                        <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Create", "Receipt")" class="btn btn-default">Create Receipt</a>
                        <!-- <a href="@Url.Action("Create", "Insurance")" class="btn btn-default">Create Insurence</a>-->
                    </div>

                </div>
            </div>
            <div class="panel-body advanced-search">
                <div class="col=md-12">
                    <div class="col-md-4">
                        <label for="FromDate">From Date</label>
                        <input type="text" class="datepicker" name="ReceiptFilter.FromDate" id="FromDate" />
                    </div>
                    <div class="col-md-4">
                        <label for="ToDate">To Date</label>
                        <input type="text" class="datepicker" name="ReceiptFilter.ToDate" id="ToDate" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">


                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bill No</th>
                                        <th>MemberNo</th>
                                        <th>Member Name</th>
                                        <th>Paid Amount</th>
                                        <th>Paid Date</th>
                                        <th>For the Year</th>
                                        <th>Edit / Delete /Print </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Receipt in Model.Receipts.Items)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Edit", "Receipt", new {ReceiptID = @Receipt.ReceiptID})">@Receipt.ReceiptBillNo</a></td>
                                            <td><a href="@Url.Action("Edit", "Receipt", new {ReceiptID = @Receipt.ReceiptID})">@Receipt.MemberNo</a></td>
                                            <td>@Receipt.MemberName</td>
                                            <td>@Receipt.PaidAmount</td>
                                            <td>@Receipt.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                            <td>@Receipt.ReceiptFromYear.ToString("dd/MM/yyyy") - @Receipt.ReceiptToYear.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @*<a href="#" class="DeleteReceipt"><input type="hidden" class="DeleteReceiptID" value="@Receipt.ReceiptID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                    /*@
                                                <a href="@Url.Action("Edit", "Receipt", new {ReceiptID = @Receipt.ReceiptID})"><span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span></a> /
                                                <a href="#" class="DeleteReceipt"><input type="hidden" class="DeleteReceiptID" value="@Receipt.ReceiptID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span></a> /
                                                <a href="#" class="PrintSingleReceipt"><input type="hidden" class="PrintSingleReceiptID" value="@Receipt.ReceiptID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                @Html.BootstrapPager(Model.Receipts.CurrentPage,
                                 index => Url.Action("Index",
                                                     "Receipt",
                                                     new RouteValueDictionary
                                                     {
                                                         { "PageNumber", index },
                                                         { "ItemsPerPage", Model.Receipts.ItemsPerPage },
                                                         { "Query", Request["Query"] },
                                                         { "InsuranceFilter.FromDate", Model.ReceiptFilter.FromDate },
                                                         { "InsuranceFilter.ToDate", Model.ReceiptFilter.ToDate }
                                                     }),
                                 Model.Receipts.TotalItems,
                                 Model.Receipts.ItemsPerPage,
                                 Model.Receipts.TotalPages)
                                @*
                                    @Html.BootstrapPager(Model.Receipts.CurrentPage,
                                            index => Url.Action("Search",
                                                                "Receipt",
                                                                new
                                                                {
                                                                    PageNumber = index,
                                                                    ItemsPerPage = Model.Receipts.ItemsPerPage,
                                                                    Query = Request["Query"],
                                                                }),
                                            Model.Receipts.TotalItems,
                                            Model.Receipts.ItemsPerPage,
                                            Model.Receipts.TotalPages)
                                *@
                            </div>
                            <div class="col-md-5">
                                Showing @Model.Receipts.Items.Count of @Model.Receipts.TotalItems member(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                //dateFormat: "yy-mm-dd",
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                scrollInput: false,
                defaultDate: new Date(),
                yearRange: "c-100:c+50"
            });

            function onLoad() {

                $("#FromDate").val("@Model.ReceiptFilter.FromDate");
                $("#ToDate").val("@Model.ReceiptFilter.ToDate");

                $(".advanced-search").hide();
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                if ((fromdate != "") || (todate != "")) {
                    $(".advanced-search").show();
                } else if ((fromdate == "") || (todate == "")) {
                    $(".advanced-search").hide();
                }
            }

            $(".DeleteReceipt").click(function () {
                var ReceiptID = $(this).find(".DeleteReceiptID").val();
                if (confirm("Are you sure want to delete the Receipt ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Receipt")?ID=' + ReceiptID,
                        success: function (DeleteReceipt) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });

            // Receipt Single Print
            $(".PrintSingleReceipt").click(function () {
                var ReceiptID = $(this).find(".PrintSingleReceiptID").val();
                window.open('@Url.Action("ReceiptSinglePrint", "Receipt")?ReceiptID=' + ReceiptID + '&MemberID=0', '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            if (RequestQuery != null) {
                $("#Query").val(RequestQuery);
            }

            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });

            @*
            $(".PrintReceiptDetails").click(function () {
                var fromDateValue = $("#FromDate").val();
                var toDateValue = $("#ToDate").val();
                var RequestQueryStr = $("#Query").val();
                window.open('@Url.Action("ReceiptPrint", "Receipt")?Query=' + RequestQueryStr + '&FromDate=' + fromDateValue + '&ToDate=' + toDateValue + '&PrintOption=PrintReceiptList', '_blank', "width=900, height=600");

            });
                *@


            $(".PrintReceiptDetails").click(function () {
                window.open('@Url.Action("ReceiptPrint", "Receipt")?' + $("#ReceiptForm").serialize(), '_blank', "width=900, height=600");

            });
            $("[data-toggle=popover]").popover();
            onLoad();
        });
    </script>
}
