﻿@model Cvpa.Models.ReceiptEditViewModel
@using Cvpa.Models;

@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var receipt = Model.ReceiptData;
 
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

@{ Screencustomization Start_Date = (Screencustomization)ViewData["Start_Date"];
   if (Start_Date == null)   {
       Start_Date = new Screencustomization();
   }

   Screencustomization End_Date = (Screencustomization)ViewData["End_Date"];
   if (End_Date == null)
   {
       End_Date = new Screencustomization();
   }
       
   }

<style>
    .panel-body {
        margin : auto;
        width :80%;
        border : 1px solid #dcdcdc;
        padding : 11px;
        border-radius:4px;
        font-size : 12px !important;
    }
    .signature {
        width : 25%;
        text-align:center;
    }
    .table-signature {
        width : 100%;    }
    .Receipt_Header {
        width : 100%;
    }
    .bottom-border {
        border-bottom:1px dotted #dcdcdc;
    }
</style>
<div class="panel-body">             
    @*<div class="main-header">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" style="width:9%;" alt="Logo" /> Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
    </div>*@
    <div class="main-header">
        <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
    </div><br/>
    @if(@receipt != null) {
    <div class="text-center"> <span class="btn" style="border: 1px solid #777;margin:0 auto;">Receipt</span></div>
    <div><b>Member No:</b> <span class="MembershipNo bottom-border">@receipt.MemberNo</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right"><b>Date :</b><span class="bottom-border"> @receipt.ReceiptDate.ToString("dd/MM/yyyy")</span></span></div>
    <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b> Bill No :</b> <span class="bottom-border">@receipt.ReceiptBillNo</span></span>  </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b>Member Name : </b><span class="bottom-border">@receipt.MemberName</span></span> <span class="pull-right"><b>Phone No:</b><span class="bottom-border"> @receipt.MobileNo</span></span></div>
    <br/>
    <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b>Company Name :</b><span class="bottom-border">@receipt.StoreName</span></span></div>
    <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b>Address :</b><span class="bottom-border">@receipt.Address</span></span></div>
    <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
    <div class="pull-left"> Received with thanks, the subscription fees of rupees <strong>@receipt.AmountInWords</strong> only for the year <strong>@receipt.ReceiptFromYear.ToString("dd/MM/yyyy")</strong> -<strong> @receipt.ReceiptToYear.ToString("dd/MM/yyyy")</strong><br/>  <strong>Rs.&nbsp;@receipt.PaidAmount&nbsp;</strong>/-</div>
    <br/><br/><br/><div class="clearfix">&nbsp;</div>
   
    <table class="table-signature" >
        <tr>
            <td class="signature">President</td>
            <td class="signature">Secretary</td>
            <td class="signature">Treasurer</td>
            <td class="signature">Cashier</td>
        </tr>

    </table>    
    
    }
    else
    {
        <h2>Sorry No Receipt available for this MembershipNo</h2>
    } 
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var mebershipno = $(".MembershipNo").text();
       // alert(mebershipno);
        if (!mebershipno == null || !mebershipno == "") {
            window.print();
        }
     
    });
    
</script>