/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

body {
    background-color: #fff;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 54px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 54px;
            left: 54px;
            height: 100%;
            margin-left: -54px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -54px;
        }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #28566f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
}


#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper #page-content-wrapper .main-content {
    /*padding: 15px;*/
}

#wrapper #page-content-wrapper .main-content .main-header .main-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}

.right {
    text-align: right;
}

/**
    btn styles
 */
.btn-primary,
.btn-danger,
.btn-info,
.btn-success {
    box-shadow: 1px 1px 1px #fff;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        line-height: 40px;
    }
    .sidebar-nav li.active{
        background-color:#fff;
        color: #428bca;
    }
        .sidebar-nav li a {
            text-decoration: none;
            color: #f2f2f2;
            padding-left: 18px;
            display: block;
        }
        .sidebar-nav li.active a
        {
            background-color: #fff;
            color: #428bca;
        }
            .sidebar-nav li a:hover {
                text-decoration: none;
                 background-color:#fff;
                 color: #428bca;
                /*  color: #fff;
                 background: rgba(255,255,255,0.2);*/
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

            .sidebar-nav li a .glyphicon {
                padding-right: 8px;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #f2f2f2;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }
/**
    Filter Sidebar Styles
 */
.filter-sidebar {
    padding: 15px;
    border: 1px solid #ddd;
    position: relative;
}
    .filter-sidebar .toggle-btn .arrow-left {
        position: absolute;
        right: 0px;
        top: 15px;
        display: none
    }
    .filter-sidebar .toggle-btn .arrow-right {
        position: absolute;
        left: 0;
        top: 15px;
        display: none
    }
    .filter-sidebar.toggled {
        border-width: 0;
        border-left-width: 1px;
        width: 1px;
        visibility: hidden;
    }
        .filter-sidebar.toggled .form-group {
            display: none;
        }
        .filter-sidebar.toggled .toggle-btn .arrow-left {
            display: none;
        }
        .filter-sidebar.toggled .toggle-btn .arrow-right {
            display: block;
        }
/**
    Arrows with border styles
 */
.arrow-up {
    display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;	
	border-bottom: 12px solid black;
}

.arrow-down {
    display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;	
	border-top: 12px solid black;
}

.arrow-right {
    display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;	
	border-left: 12px solid black;
}

.arrow-left {
    display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent; 	
	border-right: 12px solid black; 
}

@media (min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 54px;
    }

        #wrapper.toggled #sidebar-wrapper .sidebar-nav li a .glyphicon {
            padding-right: 18px;
            padding-top: 18px;
            padding-bottom: 18px;
            font-size: 18px;
        }

        #wrapper.toggled #sidebar-wrapper .sidebar-nav > .sidebar-brand {
            height: 54px;
            line-height: 54px;
        }

            #wrapper.toggled #sidebar-wrapper .sidebar-nav > .sidebar-brand .glyphicon {
                padding-right: 40px;
            }

    #page-content-wrapper {
        padding: 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    .vbox {
        display: table;
        border-spacing: 0;
        position: relative;
        height: 100%;
        width: 100%;
    }

    .hbox > aside, .hbox > section {
        display: table-cell;
        vertical-align: top;
        height: 100%;
        padding: 0;
        float: none;
    }
}
.formspace-top
{
    margin-top: 50px;
}
/*Member list print*/

/*.member-table>tbody>tr>th ,.table-bordered>tbody>tr>td*/
.member-table,.member-table>thead>tr>th,.member-table>tbody>tr>th,.member-table>tbody>tr>td
{
    border: 1px solid #87CEFA;
}
/*Create Member*/
div.create-member>input
{
   margin: 30px 3px 0px 20px;
}
.member-details 
{
    margin-top: 14px;
    margin-bottom: -15px;
    margin-left: 20px;
}
.error-message 
{
    margin-left: 20px;
}
.center-button
{
   padding: 5px 10px 5px 10px;
}
/*Meeting */
/*.meeting-print
{
    border : none;
}
.meeting-print>tbody>tr>th
{
    border : none;
}
.meeting-print>tbody>tr>td
{
    border : none;
}*/