﻿@model Cvpa.Models.AccountListViewModel
@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <style type="text/css">
        .huge {
            font-size: 40px;
        }

        .dashboard-widget {
            height: 141px;
        }

        .panel-green {
            border-color: #5cb85c;
        }

            .panel-green .panel-heading {
                border-color: #5cb85c;
                color: #fff;
                background-color: #5cb85c;
            }

            .panel-green a {
                color: #5cb85c;
            }

                .panel-green a:hover {
                    color: #3d8b3d;
                }

        .panel-red {
            border-color: #d9534f;
        }

            .panel-red .panel-heading {
                border-color: #d9534f;
                color: #fff;
                background-color: #d9534f;
            }

            .panel-red a {
                color: #d9534f;
            }

                .panel-red a:hover {
                    color: #b52b27;
                }

        .panel-yellow {
            border-color: #f0ad4e;
        }

            .panel-yellow .panel-heading {
                border-color: #f0ad4e;
                color: #fff;
                background-color: #f0ad4e;
            }

            .panel-yellow a {
                color: #f0ad4e;
            }

                .panel-yellow a:hover {
                    color: #df8a13;
                }

        .dashboard-widget .glyphicon {
            font-size: 48px;
            top: 15px;
            left: 3px;
        }

        .rupeeimage {
            width: 28px;
            margin: 15px 0px 0px 3px;
        }

        .panel-address {
            border: 1px solid #0094ff;
        }

        .panel-member-list {
            border: 1px solid #0094ff;
        }

        .panel-single-receipt {
            border: 1px solid #0094ff;
        }

        .panel-receipt-list {
            border: 1px solid #0094ff;
        }
    </style>
    <div class="page-body">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><span class="memberscount"></span></div>
                            <div>Total Members</div>

                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "Members")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><span class="lifemembercount"></span><span></span></div>

                            <div>Total Life Members</div>
                        </div>
                    </div>
                </div>
                <a href="@VirtualPathUtility.ToAbsolute("~/Members/Index?MemberFilter.MemberType=LifeMembers")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        @*<div class="col-lg-3">
                <div class="panel panel-yellow dashboard-widget">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-2">
                                <img class="rupeeimage"src="~/Content/Images/rupee.png" alt="rupees">
                            </div>
                            <div class="col-xs-10 text-right">
                                <div class="huge"> <span class="receivedamount"></span></div>
                                <div>Total Amount Received for this month</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Receipt")">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>*@
        <div class="col-lg-3">
            <div class="panel panel-yellow dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge"> <span class="activemembercount"></span></div>
                            <div>Total Active Members</div>
                        </div>
                    </div>
                </div>
                <a href="@VirtualPathUtility.ToAbsolute("~/Members/Index?MemberFilter.MemberType=ActiveMembers")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-red dashboard-widget">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge"> <span class="expirycount"></span></div>
                            <div>Membership to be Renewed </div>
                        </div>
                    </div>
                </div>
                <a href="@VirtualPathUtility.ToAbsolute("~/Members/Index?MemberFilter.MemberType=ExpiredMembers")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-address ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <label> Income and Expense Details</label>
                        </div>
                        @using (Html.BeginForm("GetIncomeAndExpenseDetails", "Dashboard"))
                        {
                            <div class="col-xs-4">From Date&nbsp;&nbsp;&nbsp;<input type="text" class="datepicker" id="FromDate" name="FromDate" required="required" /></div>
                            <div class="col-xs-3">
                                To Date&nbsp;&nbsp;&nbsp;<input type="text" class="datepicker" id="ToDate" name="ToDate" required="required" />
                                @Html.TextBox("RequestFromDate", Request["FromDate"], new { @class = "form-control", @type = "hidden" })
                                @Html.TextBox("RequestToDate", Request["ToDate"], new { @class = "form-control", @type = "hidden" })
                            </div>

                            <div class="col-xs-2"><button class="btn btn-primary" type="submit">Go</button>&nbsp;&nbsp;&nbsp;<span class="btn btn-primary" id="IncomeExpensePrint">Print</span></div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Particulars</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Accounts.Items.Count == 0)
                                            {

                                            }
                                            else
                                            {
                                                foreach (var Account in Model.Accounts.Items)
                                                {
                                                    <tr>
                                                        <td>@Account.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                                        <td>@Account.Reason</td>
                                                        <td>@if (@Account.PaymentType == "Debit")
                                                        {<span class="DebitAmount">@Account.Amount</span>}</td>
                                                        <td>@if (@Account.PaymentType == "Credit")
                                                        {<span class="CreditAmount">@Account.Amount</span>}</td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td colspan="4">
                                                    <div class="row">
                                                        <div class="col-md-7">

                                                            @Html.BootstrapPager(Model.Accounts.CurrentPage,
                                                                                        index => Url.Action("GetIncomeAndExpenseDetails",
                                                                                                            "Dashboard",
                                                                                                            new
                                                                                                            {
                                                                                                                PageNumber = index,
                                                                                                                ItemsPerPage = Model.Accounts.ItemsPerPage,
                                                                                                                FromDate = Request["FromDate"],
                                                                                                                ToDate = Request["ToDate"]
                                                                                                            }),
                                                                                        Model.Accounts.TotalItems,
                                                                                        Model.Accounts.ItemsPerPage,
                                                                                        Model.Accounts.TotalPages)
                                                        </div>
                                                        <div class="col-md-5">
                                                            Showing @Model.Accounts.Items.Count of @Model.Accounts.TotalItems member(s)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2"><b>Total</b></td>
                                                <td><b><span class="DebitTotal"></span></b></td>
                                                <td><b><span class="CreditTotal"></span></b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b>Balance</b></td>
                                                <td colspan="2" style="text-align:center;"><b><span class="Balance"></span></b></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-6 col-md-6">
                <div class="panel panel-address ">
                    <div class="panel-heading">
                        <div class="row">
                            <form class="form">
                            <div class="col-xs-4">
                                Take Members Address printout for
                            </div>
                            <div class="col-xs-5">
                                <input type="text" id="Query" class="form-control"name="Query"/>
                            </div>
                            <div class="col-xs-3"><button type="submit" id="PrintAddress" class="btn btn-primary">Print Address</button></div>
                            </form>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Print Member Address</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-member-list ">
                    <div class="panel-heading">
                        <div class="row">
                            <form class="form">
                            <div class="col-xs-4">
                                Take Members List printout for
                            </div>
                            <div class="col-xs-5">
                                <input type="text" id="ListQuery" class="form-control" />
                            </div>
                            <div class="col-xs-3"><button type="submit" id="PrintList" class="btn btn-primary">Print List</button></div>
                            </form>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Print Members List</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-single-receipt ">
                    <div class="panel-heading">
                        <div class="row">
                            <form class="form" >
                            <div class="col-xs-4">
                                Take Single receipt prinout for the member
                            </div>
                            <div class="col-xs-5">
                                <input type="text"   class="form-control" name="ReceiptID" id="MemberID"/>
                                <input type="hidden" id="Option"  class="form-control" name="Option" value="ReceiptSinglePrint"/>
                            </div>
                            <div class="col-xs-3"><button type="submit" class="btn btn-primary" id="SingleReceipt">Single Receipt</button></div>
                            </form>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Print Receipt for Single Member</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-receipt-list ">
                    <div class="panel-heading">
                        <div class="row">
                            <form class="form" >
                            <div class="col-xs-4">
                                Take Receipt List printout for the date
                            </div>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" name="ListSearch" id="ListSearch"/>
                                <input type="hidden"   class="form-control"name="PrintOption" value="ReceiptListPrint"/>

                            </div>
                            <div class="col-xs-3"><button type="submit" class="btn btn-primary" id="PrintReceiptList">List Receipt</button></div>
                            </form>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Print Receipt List </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>*@
    </div>
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: '1920:2050',
                defaultDate: new Date()
            });
            var d = new Date();
            var n = d.getMonth("mm");
            $(".currentmonth").text(n);
            // Members Count Alert

            function GetCounts() {
                $.ajax({
                    url: '@Url.Action("GetDashboardCounts", "Dashboard")',
                    success: function (data) {
                        console.log(data.MembersCount);
                        $(".memberscount").text(data.MembersCount);
                        $(".lifemembercount").text(data.LifeMembersCount);
                        $(".activemembercount").text(data.ActiveMembersCount);
                        $(".expirycount").text(data.ExpiredMembersCount);
                    }
                });
            }
            GetCounts();

            @*
            function GetMembersCount() {
                $.ajax({
                    url: '@Url.Action("GetMembersCount", "Dashboard")',
                    success: function (data) {
                        $(".memberscount").text(data);
                    }
                });
            }

            function GetIncomeAndExpenseTotal() {
                $.ajax({
                    url: '@Url.Action("IncomeTotal", "Dashboard")',
                    success: function (data) {
                        $(".CreditTotal").text(data);
                    }
                });

                $.ajax({
                    url: '@Url.Action("ExpenseTotal", "Dashboard")',
                    success: function (data) {
                        $(".DebitTotal").text(data);
                        if (($(".DebitTotal").text() != "") && ($(".CreditTotal").text() != "")) {
                            // alert("Hi")
                            CalculateTotalAmount();
                        }
                    }
                });


            }

            // Receipt Count and Total Amount Alert
            function GetReceiptsCount() {
                $.ajax({
                    url: '@Url.Action("GetReceiptsCount","Dashboard")',
                    success: function (data) {
                        var count = 0;
                        var total = 0;
                        $.each(data, function (index, item) {
                            count++;
                            total += item.PaidAmount;
                        });
                        $(".receiptscount").text(count);
                        $(".receivedamount").text(total);
                        console.log(total);
                    }
                });
            }

            // Receipt Count and Total Amount Alert
            function GetLifeMemberCount() {
                $.ajax({
                    url: '@Url.Action("GetLifeMemberCount", "Dashboard")',
                    success: function (data) {
                        $(".lifemembercount").text(data);
                    }
                });
            }

            //Total Active Members Count
            function GetActiveMemberCount() {
                $.ajax({
                    url: '@Url.Action("GetActiveMemberCount", "Dashboard")',
                    success: function (data) {
                        $(".activemembercount").text(data);
                    }
                });
            }

            // Expiry Date Alert
            function GetExpiryCount() {
                $.ajax({
                    url: '@Url.Action("GetExpiryCount", "Dashboard")',
                    success: function (data) {
                        //    $(".memberscount").text(data);
                        /*  var count = 0;
                          $.each(data, function (index, item) {
                              //if(data.MembershipExpiryDate)
                              count++;
                              console.log(item.MembershipExpiryDate + "count =" + count + "= Expirydate");
                          });*/
                        //alert(data);
                        $(".expirycount").text(data);
                    }
                });
            }*@
            function CalculateTotalAmount() {
                var debittotal;
                //var credittotal = $(this).text();
                var total = 0, ctotal = 0, FinalDebitTotal = 0, FinalCreditTotal = 0;
                $('.DebitAmount').each(function () {
                    var debittotal = $(this).text();
                    total = total + parseFloat(debittotal);
                    $(".DebitTotal").html(total.toFixed(2));
                    FinalDebitTotal = $(".DebitTotal").text();
                });

                $('.CreditAmount').each(function () {
                    var credittotal = $(this).text();
                    ctotal = ctotal + parseFloat(credittotal);
                    $(".CreditTotal").html(ctotal.toFixed(2));
                    FinalCreditTotal = $(".CreditTotal").text();
                    // callback();
                    //  alert(FinalCreditTotal);
                });

                $('.Balance').html(parseFloat(FinalCreditTotal) - parseFloat(FinalDebitTotal));
                //         alert(parseFloat(FinalCreditTotal) - parseFloat(FinalDebitTotal));
            }

            function GetIncomeAndExpenseTotal() {
                $.ajax({
                    url: '@Url.Action("GetIncomeAndExpenseTotal", "Dashboard")',
                    success: function (data) {
                        $(".expirycount").text(data);
                    }
                });
            }
            /*GetMembersCount();
            GetReceiptsCount();
            GetExpiryCount();
            GetLifeMemberCount();*/
            // GetIncomeAndExpenseTotal();
            CalculateTotalAmount();
            /*GetActiveMemberCount();*/

            $("#PrintReceiptList").click(function () {
                //  alert("Hi");
                var listsearch = $("#ListSearch").val();

                window.open('@Url.Action("ReceiptPrint", "Receipt")?Query=' + listsearch + '&PrintOption=PrintReceiptList', '_blank', "width=900, height=600");
            });

            $("#SingleReceipt").click(function () {
                var MemberID = $("#MemberID").val();
                if (MemberID != "")
                    window.open('@Url.Action("ReceiptSinglePrint", "Receipt")?ReceiptID=0' + '&MemberID=' + MemberID, '_blank', "width=900, height=600");
            });

            $("#PrintAddress").click(function () {
                var Query = $("#Query").val();
                window.open('@Url.Action("MembersPrint", "Members")?Query=' + Query + '&PrintOption=MembersAddress', '_blank', "width=900, height=600");
            });

            $("#PrintList").click(function () {
                var ListQuery = $("#ListQuery").val();
                window.open('@Url.Action("MembersPrint", "Members")?Query=' + ListQuery + '&PrintOption=MembersList', '_blank', "width=900, height=600");
            });



            $("#IncomeExpensePrint").click(function () {
                var fromdate = $("#FromDate").val()
                , todate = $("#ToDate").val();
                var RequestFromDate = $("#RequestFromDate").val()
            , RequestToDate = $("#RequestToDate").val();

                window.open('@Url.Action("IncomeAndExpenseDetailsPrint", "Dashboard")?FromDate=' + RequestFromDate + '&ToDate=' + RequestToDate, '_blank', "width=900, height=600");
            });

            var RequestFromDate = $("#RequestFromDate").val()
              , RequestToDate = $("#RequestToDate").val();
            if (RequestFromDate != null || RequestToDate != null) {
                $("#FromDate").val(RequestFromDate);
                $("#ToDate").val(RequestToDate);
            }

        });
    </script>
}

