﻿@model Cvpa.Models.MeetingListViewModel
@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <div class="container">
    <a href="@Url.Action("Create", "Meeting")" class="btn btn-sm btn-info">Create Meeting</a>
    <div class="clear-fix">&nbsp;</div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Meeting Title</th>
                <th>Meeting Description</th>
                <th>Meeting Date</th>
                <th>Meeting place</th>
                <th>Edit/Delete/Print</th><!--/Add Member</th>-->
            </tr>
        </thead>
        <tbody>
            @foreach (var meeting in Model.Meetings.Items)
            {
                <tr>
                    <td>@meeting.MeetingTitle</td>
                    <td>@meeting.Description</td>
                    <td>@meeting.MeetingDateTime</td>
                    <td>@meeting.MeetingPlace</td>
                    <td>
                        <a href="@Url.Action("Edit","Meeting",new { MeetingID = @meeting.MeetingID})">
                            <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span> 
                        </a>/ 
                        <a href="#" class="DeleteMeetingID">
                            <input type="hidden" class="DeleteMeetingID" value="@meeting.MeetingID">
                            <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span> 
                        </a>/ 
                        <a href="#" class="PrintSingleMember"><input type="hidden" class="PrintSingleMemberID" value="@meeting.MeetingID">
                            <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span> 
                        </a>@*/
    <a href="@Url.Action("MeetingDetails","Meeting",new { MeetingID = meeting.MeetingID,MeetingTitle = meeting.MeetingTitle})">
        <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Members" class="glyphicon glyphicon-user"></span>
    </a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-9">
            @Html.BootstrapPager(Model.Meetings.CurrentPage,
                                        index => Url.Action("Index",
                                                            "Meeting",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Meetings.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Meetings.TotalItems,
                                        Model.Meetings.ItemsPerPage,
                                        Model.Meetings.TotalPages)
        </div>
        <div class="col-md-3">
            Showing @Model.Meetings.Items.Count of @Model.Meetings.TotalItems member(s)
        </div>
    </div>
</div>

}
@section Scripts {
    <script type="text/javascript">
    jQuery(document).ready(function () {

        $(".DeleteMeetingID").click(function () {
            var MeetingID = $(this).find(".DeleteMeetingID").val();
            if (confirm("Are you sure want to delete the meeting ?")) {
                $.ajax({
                    url: '@Url.Action("Delete", "Meeting")?ID=' + MeetingID,
                    success: function (DeleteMember) {
                        location.reload();
                    }
                });
            } else {
                return false;
            }
        });

        $(".PrintSingleMember").click(function () {
            
            var MeetingID = $(this).find(".PrintSingleMemberID").val();
            window.open('@Url.Action("MembersSinglePrint", "Meeting")?MeetingID=' + MeetingID, '_blank', "width=900, height=600");
        });
        $("[data-toggle=popover]").popover();

    });
    </script>
}