﻿@model Cvpa.Models.MemberEntryViewModel
@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {

    @using (Html.BeginForm("SaveMemberEntry", "Meeting", new { MeetingID = Model.MeetingID }, FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
    {
        // var member = Model.MemberEntryData;
        <div class="alobin-panel" style="width:1000px;margin:0 auto;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class=""><a href="@Url.Action("Index", "Meeting")">@*Model.MeetingTitle*@Meeting</a>&raquo;Member</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                                <label for="MemberNo">Meeting Title :</label> @Model.MeetingTitle
                            </div>
                            <div class="col-md-6">
                                <label for="MemberNo">Member No</label>
                                <input type="text" class="form-control add-member-autocomplete" id="MemberNo" name="MemberNo" placeholder="Enter Member No" />
                                <input type="hidden" class="form-control" id="MeetingID" name="MeetingID" value="@Model.MeetingID" />
                            </div>
                            <div class="col-md-6">
                                <label for="MemberName">Member Name</label>
                                <input type="text" class="form-control" id="MemberName" name="MemberName" placeholder="Member Name" />
                                <input type="hidden" class="form-control add-member-autocomplete" id="MemberID" name="MemberID" placeholder="Enter Member ID" />
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-md-6">
                                <label for="MemberName">Member No</label>
                                <input type="text" class="form-control add-member-autocomplete" id="MobileNo" name="MobileNo" placeholder="Mobile No" />
                            </div>
                            <div class="col-md-6">
                                <label for="MemberName">Company Name</label>
                                <input type="text" class="form-control" id="StoreName" name="StoreName" placeholder="Company Name" />
                                <div>&nbsp;</div>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-md btn-info"> Submit</button>
                                <input type="hidden" class="member-meetingID" value="@Model.MeetingID">
                                <a href="#" class="print-memberlist btn btn-md btn-info"> Print</a>
                            </div>
                            <div class="clearfix">&nbsp;</div>

                            
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-md-12">
                                <div class="row">
                                    <table class="table table-bordered" id="MembersTable">
                                        <thead>
                                            <tr>
                                                <th>Member No</th>
                                                <th>Member Name</th>
                                                <th>Mobile No</th>
                                                <th>Company Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var memberEntries in Model.MemberEntries.Items)
                                            {
                                                <tr>
                                                    <td>
                                                        @memberEntries.MemberNo
                                                        <input type="hidden" class="memberID" value="@memberEntries.MemberNo" />
                                                    </td>
                                                    <td>@memberEntries.MemberName</td>
                                                    <td>@memberEntries.MobileNo</td>
                                                    <td>@memberEntries.StoreName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    @Html.BootstrapPager(Model.MemberEntries.CurrentPage,
                                        index => Url.Action("MeetingDetails",
                                                            "Meeting",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.MemberEntries.ItemsPerPage,
                                                                MeetingID = @Model.MeetingID,
                                                            }),
                                        Model.MemberEntries.TotalItems,
                                        Model.MemberEntries.ItemsPerPage,
                                        Model.MemberEntries.TotalPages)
                                </div>
                                <div class="col-md-3">
                                    Showing @Model.MemberEntries.Items.Count of @Model.MemberEntries.TotalItems member(s)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                }


                }
                @section Scripts {

                    <script type="text/javascript">
    jQuery(document).ready(function () {
        $(".add-member-autocomplete").bind('keyup', function (event) {
            var ColumnName = $(this).attr("id");
            //alert("column id value"+ColumnName);
            getMembershipNo(ColumnName,event);
                //getMemberListExists(e);
            });

        function getMembershipNo(ColumnName,e) {
            $(".add-member-autocomplete").autocomplete({

                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMemberNoForMeeting", "Meeting")?ColumnName='+ColumnName+'&term'+request.term,
                            data: { term: request.term },
                            success: function (data) {
                                response($.map(data, function (item) {
                                   return {
                                       label: item.MemberNo + '--' + item.MemberName,
                                       value: item.MemberNo + '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.PhoneNo + "--" + item.StoreName,
                                       data: item
                                    }
                                }));
                            }
                        });
                    },
                    select: function (event, ui) {
                        event.preventDefault();
                            $("#MemberNo").val(ui.item.data.MemberNo);
                            $("#MemberID").val(ui.item.data.MemberID);
                            $("#MemberName").val(ui.item.data.MemberName);
                            $("#StoreName").val(ui.item.data.StoreName);
                            $("#MobileNo").val(ui.item.data.MobileNo);
                    }
                });
            }
        $(".print-memberlist").click(function () {
           var MeetingID = $(".member-meetingID").val();
           window.open('@Url.Action("MembersListPrint", "Meeting")?MeetingID=' + MeetingID, '_blank', "width=900, height=600");
        });
   });
                    </script>
                }
