﻿@model Cvpa.Models.MeetingEditViewModel
@using Cvpa.Models;
@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var member = Model.MeetingData;
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")

<style>
    .panel-body {
        margin: auto;
        width: 80%;
        border: 1px solid #dcdcdc;
        padding: 15px;
        border-radius: 4px;
    }

    .signature {
        width: 25%;
        text-align: center;
    }

    .table-signature {
        width: 100%;
    }

    .Receipt_Header {
        width: 100%;
    }

    .bottom-border {
        border-bottom: 1px dotted #dcdcdc;
    }
</style>
<div class="panel-body">
    @*<div class="main-header">
            <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" style="width:9%;" alt="Logo" /> Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
        </div>*@
    <div class="main-header">
        <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <hr />
    <table class="table table-bordered meeting-print">
        <tr>
            <th>Meeting DateTime</th>
            <th>Meeting Title</th>
            <th>Meeting Place</th>
        </tr>
        <tr>
            <td>@member.MeetingDateTime</td>
            <td>@member.MeetingTitle</td>
            <td>@member.MeetingPlace</td>
        </tr>
    </table>
</div>		
<script type="text/javascript">
    jQuery(document).ready(function () {
     //   var mebershipno = $(".MembershipNo").text();
       // alert(mebershipno);
         window.print();
        
     
    });
    
</script>