﻿@model Cvpa.Models.AccountListViewModel
@using Cvpa.Utils
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content {
    <style type="text/css">
        .huge {
            font-size: 40px;
        }

        .dashboard-widget {
            height: 141px;
        }

        .panel-green {
            border-color: #5cb85c;
        }

            .panel-green .panel-heading {
                border-color: #5cb85c;
                color: #fff;
                background-color: #5cb85c;
            }

            .panel-green a {
                color: #5cb85c;
            }

                .panel-green a:hover {
                    color: #3d8b3d;
                }

        .panel-red {
            border-color: #d9534f;
        }

            .panel-red .panel-heading {
                border-color: #d9534f;
                color: #fff;
                background-color: #d9534f;
            }

            .panel-red a {
                color: #d9534f;
            }

                .panel-red a:hover {
                    color: #b52b27;
                }

        .panel-yellow {
            border-color: #f0ad4e;
        }

            .panel-yellow .panel-heading {
                border-color: #f0ad4e;
                color: #fff;
                background-color: #f0ad4e;
            }

            .panel-yellow a {
                color: #f0ad4e;
            }

                .panel-yellow a:hover {
                    color: #df8a13;
                }

        .dashboard-widget .glyphicon {
            font-size: 48px;
            top: 15px;
            left: 3px;
        }

        .rupeeimage {
            width: 28px;
            margin: 15px 0px 0px 3px;
        }

        .panel-address {
            border: 1px solid #0094ff;
        }

        .panel-member-list {
            border: 1px solid #0094ff;
        }

        .panel-single-receipt {
            border: 1px solid #0094ff;
        }

        .panel-receipt-list {
            border: 1px solid #0094ff;
        }
    </style>

    <div class="page-body">
        <div class="well well-sm"><h3><b>Reports</b></h3></div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Members</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Members </h4>
                        </div>
                        <div class="col-md-6">

                            <div class="input-group">
                                <input type="text" name="Memberinput" id="Memberinput" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />

                                <span class="input-group-btn">
                                    <!--<button class="btn btn-default" type="submit">Go!</button>-->
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Print <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" class="PrintMemberDetails" id="PrintAddress">Print Address</a></li>
                                    <li><a href="#" class="PrintMemberDetails" id="PrintList">Print Member List</a></li>
                                    <li><a href="#" class="PrintSingleMember" id="PrintSingleMember">Print Single Member</a></li>
                                    @*<li><a href="#" class="PrintMemberDetails" id="PrintDismissedList">Print Dismissed Member List</a></li>*@
                                </ul>
                            </div>
                            @*<button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Download Form</button>*@
                        </div>

                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Members")">
            </a>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Receipt</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Receipts </h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" name="Query" id="Receiptinput" value="" placeholder="Enter Bill No... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default advanced-button" type="button">Advanced Search</button>
                                    <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                </span>
                                <span class="input-group-btn">
                                    <!--<button class="btn btn-default" type="submit">Go!</button>-->
                                    <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                </span>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Print <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" class="PrintSingleReceipt" id="PrintAddress">Print Single Receipt</a></li>
                                    <li><a href="#" class="PrintReceiptList" id="PrintReceiptList">Print All Receipt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body advanced-search">
                        <div class="col=md-12">
                            <div class="col-md-4">
                                <label for="FromDate">From Date</label>
                                <input type="text" class="datepicker" name="FromDate" id="FromDate" />
                                @Html.TextBox("FromDateReturnValue", Request["FromDate"], new { @class = "form-control", @type = "hidden" })
                            </div>
                            <div class="col-md-4">
                                <label for="ToDate">To Date</label>
                                <input type="text" class="datepicker" name="ToDate" id="ToDate" />
                                @Html.TextBox("ToDateReturnValue", Request["ToDate"], new { @class = "form-control", @type = "hidden" })
                            </div>
                            @*<div class="col-md-2">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Members")">
            </a>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Income</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Income Receipts</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" name="Query" id="Incomeinput" value="" placeholder="Enter Bill No.." spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                <input type="hidden" name="PaymentType" id="PaymentType" value="Credit" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default advanced-button-income" type="button">Advanced Search</button>
                                    <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                </span>
                                <span class="input-group-btn">
                                    <!--<button class="btn btn-default" type="submit">Go!</button>-->
                                    <!-- <button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Print <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" class="IncomeSingleReceipt" id="PrintAddress">Print Single Receipt</a></li>
                                    <li><a href="#" class="IncomeListPrint" id="PrintReceiptList">Print All Receipt</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body advanced-search-income">
                        <div class="col=md-12">
                            <div class="col-md-4">
                                <label for="FromDate">From Date</label>
                                <input type="text" class="datepicker" name="IncomeFromDate" id="IncomeFromDate" />
                            </div>
                            <div class="col-md-4">
                                <label for="ToDate">To Date</label>
                                <input type="text" class="datepicker" name="IncomeToDate" id="IncomeToDate" />
                            </div>
                            @*<div class="col-md-2">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Expense</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Expence Receipts</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" name="Query" id="Expenseinput" value="" placeholder="Enter Bill No.." spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                <input type="hidden" name="PaymentType" id="PaymentType" value="Debit" />
                                @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                <span class="input-group-btn">
                                    <button class="btn btn-default advanced-button-expense" type="button">Advanced Search</button>
                                    <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                </span>
                                <span class="input-group-btn">
                                    <!--<button class="btn btn-default" type="submit">Go!</button>-->
                                    <!--<button class="btn btn-default advanced-button" type="button">Advanced Search</button>-->
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Print <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" class="ExpenseSingleReceipt" id="PrintAddress">Print Single Receipt</a></li>
                                    <li><a href="#" class="ExpenseListPrint" id="PrintReceiptList">Print All Voucher</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body advanced-search-expense">
                        <div class="col=md-12">
                            <div class="col-md-4">
                                <label for="FromDate">From Date</label>
                                <input type="text" class="datepicker" name="ExpenseFromDate" id="ExpenseFromDate" />
                            </div>
                            <div class="col-md-4">
                                <label for="ToDate">To Date</label>
                                <input type="text" class="datepicker" name="ExpenseToDate" id="ExpenseToDate" />
                            </div>
                            @*<div class="col-md-2">
                                    <button class="btn btn-default" type="submit">Go!</button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Receipt")">
            </a>
        </div>
    </div>
    <div class="col-md-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <label> Income and Expense Details</label>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("GetGroupByIncomeAndExpenseDetails", "Report"))
                {
                    <div class="col-xs-4">From Date&nbsp;&nbsp;&nbsp;<input type="text" class="incomeexpensedate form-control" id="FromDate" name="FromDate" required="required" /></div>
                    <div class="col-xs-3">
                        To Date&nbsp;&nbsp;&nbsp;<input type="text" class="incomeexpensedate form-control" id="ToDate" name="ToDate" required="required" />
                        @Html.TextBox("RequestFromDate", Request["FromDate"], new { @class = "form-control", @type = "hidden" })
                        @Html.TextBox("RequestToDate", Request["ToDate"], new { @class = "form-control", @type = "hidden" })
                    </div>

                        <div class="col-xs-2"><button class="btn btn-primary" type="submit">Go</button>&nbsp;&nbsp;&nbsp;<span class="btn btn-primary" id="IncomeExpensePrint">Print</span></div>
                        <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12">
                                <b> Income and Expense Details for the period of <span class="fromDate"></span> to <span class="toDate"></span></b>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                @*<th>Date</th>*@
                                                <th>Category Name</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Accounts != null)
                                            {
                                                foreach (var Account in Model.Accounts.Items)
                                                {
                                                    <tr>
                                                        @*<td>@Account.ReceiptDate.ToString("dd/MM/yyyy")</td>*@
                                                        <td>@Account.CategoryName</td>
                                                        <td>
                                                            @if (@Account.PaymentType == "Debit")
                                                            {<span class="DebitAmount">@Account.Amount</span>}
                                                        </td>
                                                        <td>
                                                            @if (@Account.PaymentType == "Credit")
                                                            {<span class="CreditAmount">@Account.Amount</span>}
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td colspan="4">
                                                    <div class="row">
                                                        @if (Model.Accounts != null)
                                                        {
                                                            <div class="col-md-7">
                                                                @Html.BootstrapPager(Model.Accounts.CurrentPage,
                                                                                             index => Url.Action("GetIncomeAndExpenseDetails",
                                                                                                                 "Dashboard",
                                                                                                                 new
                                                                                                                 {
                                                                                                                     PageNumber = index,
                                                                                                                     ItemsPerPage = Model.Accounts.ItemsPerPage,
                                                                                                                     FromDate = Request["FromDate"],
                                                                                                                     ToDate = Request["ToDate"]
                                                                                                                 }),
                                                                                             Model.Accounts.TotalItems,
                                                                                             Model.Accounts.ItemsPerPage,
                                                                                             Model.Accounts.TotalPages)
                                                            </div>
                                                            <div class="col-md-5">
                                                                Showing @Model.Accounts.Items.Count of @Model.Accounts.TotalItems member(s)
                                                            </div>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><b>Total</b></td>
                                                <td><b><span class="DebitTotal"></span></b></td>
                                                <td><b><span class="CreditTotal"></span></b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b>Balance</b></td>
                                                <td colspan="2" style="text-align:center;"><b><span class="Balance"></span></b></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                }
            </div>

        </div>
    </div>

}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

            //********************* MEMBER PRINT SCRIPTS **************************//
            $(".PrintSingleMember").click(function () {
                var MemberNo = $("#Memberinput").val();
                window.open('@Url.Action("MembersSinglePrintReport", "Members")?MemberNo=' + MemberNo, '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            $("#Query").val(RequestQuery);

            $(".PrintMemberDetails").click(function () {
                var value = $(this).attr('id');
                var RequestQuery = $("#RequestQuery").val();
                if (value == 'PrintAddress') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersAddress', '_blank', "width=900, height=600");
                }
                else if (value == 'PrintList') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersList', '_blank', "width=900, height=600");
                }
                else if (value == 'PrintDismissedList') {
                    window.open('@Url.Action("MembersPrint", "Members")?Query=' + RequestQuery + '&PrintOption=MembersDismissedList', '_blank', "width=900, height=600");
                }
                $('.datepicker').datepicker({
                    format: "yyyy-mm-dd"
                });
            });

            //*********************END OF MEMBER PRINT SCRIPTS *********************//

            //********************* MEMBER PRINT SCRIPTS **************************//
            $('.datepicker').datetimepicker({
                format: 'Y-m-d',
                defaultSelect: true,
                timepicker: false,
            });

            $(".PrintSingleReceipt").click(function () {
                var BillNo = $("#Receiptinput").val();
                window.open('@Url.Action("ReceiptSinglePrint", "Receipt")?ReceiptID=0&MemberID= ' + BillNo, '_blank', "width=900, height=600");
            });

            $(".PrintReceiptList").click(function () {
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                window.open('@Url.Action("ReceiptPrint", "Receipt")?Query=' + RequestQuery + '&FromDate=' + fromdate + '&ToDate=' + todate + '&PrintOption=PrintReceiptList', '_blank', "width=900, height=600");

            });

            $(".advanced-search").hide();

            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });
            //*********************END OF MEMBER PRINT SCRIPTS *********************//


            //********************* INCOME PRINT SCRIPTS **************************//

            $(".IncomeSingleReceipt").click(function () {
                var BillNo = $("#Incomeinput").val();
                window.open('@Url.Action("IncomeSinglePrintByBillNo", "Account")?BillNo=' + BillNo, '_blank', "width=900, height=600");
            });

            $(".IncomeListPrint").click(function () {
                var value = $("#Incomeinput").val();
                var IncomeFromDate = $("#IncomeFromDate").val();
                var IncomeToDate = $("#IncomeToDate").val();
                window.open('@Url.Action("IncomeReceiptPrint", "Account")?Query=' + value + '&PrintOption=PrintVoucherList&FromDate=' + IncomeFromDate + '&ToDate=' + IncomeToDate, '_blank', "width=900, height=600");

            });

            $(".advanced-search-income").hide();

            $(".advanced-button-income").click(function () {
                $(".advanced-search-income").toggle("slow");
            });
            //*********************END OF INCOME PRINT SCRIPTS *********************//

            //********************* EXPENSE PRINT SCRIPTS **************************//


            $(".ExpenseSingleReceipt").click(function () {
                var BillNo = $("#Expenseinput").val();
                window.open('@Url.Action("ExpenseSinglePrintByBillNo", "Account")?BillNo=' + BillNo, '_blank', "width=900, height=600");
            });

            $(".ExpenseListPrint").click(function () {
                var value = $("#Expenseinput").val();
                var ExpenseFromDate = $("#ExpenseFromDate").val();
                var ExpenseToDate = $("#ExpenseToDate").val();
                window.open('@Url.Action("ExpenseListPrint", "Account")?Query=' + value + '&PrintOption=PrintVoucherList&FromDate=' + ExpenseFromDate + '&ToDate=' + ExpenseToDate, '_blank', "width=900, height=600");

            });

            $(".advanced-search-expense").hide();

            $(".advanced-button-expense").click(function () {
                $(".advanced-search-expense").toggle("slow");
            });
            //*********************END OF EXPENSE PRINT SCRIPTS *********************//

            //*********************INCOME AND EXPENSE DETAILS SCRIPTS******************//

            $('.incomeexpensedate').datetimepicker({
                format: 'd/m/Y',
                defaultSelect: true,
                timepicker: false,
            });

            var fromDate = $("#RequestFromDate").val();
            var toDate = $("#RequestToDate").val();

            $(".fromDate").text(fromDate);
            $(".toDate").text(toDate);

            function CalculateTotalAmount() {
                var debittotal;
                //var credittotal = $(this).text();
                var total = 0, ctotal = 0, FinalDebitTotal = 0, FinalCreditTotal = 0;
                $('.DebitAmount').each(function () {
                    var debittotal = $(this).text();
                    total = total + parseFloat(debittotal);
                    $(".DebitTotal").html(total.toFixed(2));
                    FinalDebitTotal = $(".DebitTotal").text();
                });

                $('.CreditAmount').each(function () {
                    var credittotal = $(this).text();
                    ctotal = ctotal + parseFloat(credittotal);
                    $(".CreditTotal").html(ctotal.toFixed(2));
                    FinalCreditTotal = $(".CreditTotal").text();
                    // callback();
                    //  alert(FinalCreditTotal);
                });

                $('.Balance').html(parseFloat(FinalCreditTotal) - parseFloat(FinalDebitTotal));
                //         alert(parseFloat(FinalCreditTotal) - parseFloat(FinalDebitTotal));
            }
            CalculateTotalAmount();

            $("#IncomeExpensePrint").click(function () {
                var fromdate = $("#FromDate").val()
                , todate = $("#ToDate").val();
                var RequestFromDate = $("#RequestFromDate").val()
            , RequestToDate = $("#RequestToDate").val();

                window.open('@Url.Action("GetGroupByIncomeAndExpenseDetailsPrint", "Report")?FromDate=' + RequestFromDate + '&ToDate=' + RequestToDate, '_blank', "width=900, height=600");
            });
            //****************END OF INCOME AND EXPENSE DETAILS SCRIPTS******************//
        });
    </script>
}

