﻿@using Cvpa.Models;
@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
@section Content
{

   <style type="text/css">
        
        @@media print {
            
            .panel {
                display: block;
            }

            #sidebar-wrapper {
                display: none;
            }

            #wrapper {
                padding-left: 0;
            }
        }
   </style>
   @using (Html.BeginForm("Create", "Magazine", FormMethod.Post, new { @class = "form" }))
   {
         // var receipt = Model.ReceiptData;
   <div class="alobin-panel" style="width:1100px;margin:auto;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h4>
                            <a href="@Url.Action("Index", "Magazine")">Magazine subscription</a> &raquo; Create      
                        </h4>
                    </div>
                    <div class="col-md-6 right">
                        <a href="@Url.Action("Index", "Magazine", new { locale = "tn" })" class="btn btn-default">Members List</a>
                        @*<button type="submit" class="btn">Receipt List</button>*@
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
            <div>@Html.Raw(ViewBag.Message)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><label for="MemberNo">MemberNo</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="MemberNo" id="MemberNo" class="form-control focus" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="MemberName">Member Name</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type='text' class="form-control" name="Name" id="Name"/>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="MobileNo">Mobile No</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    @* <span>@Last_Member_ID</span><br /><br /><br />*@
                                                    <input type="text" name="MobileNo" id="MobileNo" class="form-control focus" required />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="TelephoneNo">Telephone No</label>
                                                   
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="TelephoneNo" id="TelephoneNo" class="form-control focus"  />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="MobileNo">Address</label></td>
                                        <td> 
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type='text' class="form-control" name="Address" id="Address" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="Area">Area</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="Area" id="Area" class="form-control focus" />
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="City">City</label></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <input type='text' class="form-control" name="City" id="City" />
                                                </div>
                                                <div class="col-lg-2">
                                                    <label for="Pincode">Pincode</label>
                                                </div>
                                                <div class="col-lg-5">
                                                    <input type="text" name="Pincode" id="Pincode" class="form-control focus" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-lg CreateMember">Save</button>
                </div>
            </div>
        </div>
   </div>
   }
}
@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
           
           /* GetReceiptNo();
            function GetReceiptNo() {
                $.ajax({
                    url: 'Url.Action("GetInitialNo", "InitialNo")?ResourceType=' + "Receipt",
                    success:function(receiptno) {
                       if (!receiptno == 'NULL' || !receiptno == '') {
                           // alert("Result =" + receiptno.ResourceType);
                            $("#ReceiptNo").val(receiptno.LastNo);
                        }
                     }
                });
            }*/
            ReceiptYear();
            function ReceiptYear() {
                var fromyear = $("#ReceiptFromYear").val();
                var toyear = $("#ReceiptToYear").val();
               // alert("");
                if ((fromyear == '') && (toyear == '')) {
                    @{  string year = @DateTime.Now.Year.ToString();}
                    $("#ReceiptFromYear").val(@year);
                    $("#ReceiptToYear").val(@year+1);
                      
                    
                }
            }
            $("#MemberNo").bind('keyup', function (event) {
                //$("input").val('');
                //getMembershipNo(event);

            });
            function getMembershipNo(e) {
                //var trtObj = $(e.target).parent();
                $("#MemberNo").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("GetMembershipNo", "Receipt")',
                            data: { term: request.term },
                            //dateType: JSON,
                            success: function (data) {
                                //alert("Success");
                                //data = JSON.stringify(data);
                                response($.map(data, function (item) {
                                                                      
                                    return {
                                        label: item.MemberNo + '--' + item.MemberName,
                                        value: item.MemberNo + '--' + item.MemberName + '--' + item.StoreAddress + ", " + item.StoreArea + ", " + item.StoreCity + " - " + item.StorePincode + '--' + item.MobileNo + "--" + item.NomineeName + "--" + item.DateOfBirthStr + "--" + item.Relationship ,
                                        data: item
                                    }
                                  //  alert(label);
                                }));
                            }
                        });
                    },

                    select: function (event, ui) {
                        console.log(ui.item.value.split("--")[5]);
                       // var DOB = new Date(ui.item.membership.DateOfBirth);
                      // console.log(JSON.parse(ui.item.membership));
                       event.preventDefault();
                       $("#MemberNo").val(ui.item.data.MemberNo);
                       $("#MemberName").val(ui.item.data.MemberName);
                       //$("#Address").val(ui.item.data.);
                       $("#MobileNo").val(ui.item.data.MobileNo);
                       $("#MemberID").val(ui.item.data.MemberID);
                       $("#NomineeName").val(ui.item.data.NomineeName);
                       $("#DateOfBirthStr").val(ui.item.data.DateOfBirthStr);
                       $("#Relationship").val(ui.item.data.Relationship);

                      
                    }

                });
                
            }


        });

    </script>

}
  