﻿@model Cvpa.Models.MagazineListViewModel
@using Cvpa.Utils

@{
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section Content
{
    <style type="text/css">
        .advanced-search {
            background-color: #eee;
        }
    </style>
    @using (Html.BeginForm("Search", "Magazine"))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Magazine Subscription List </h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Query" id="Query" value="" placeholder="Search members... " spellcheck="false" autocomplete="off" autofocus="autofocus" class="form-control" />
                                    @Html.TextBox("RequestQuery", Request["Query"], new { @class = "form-control", @type = "hidden" })
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go!</button>


                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group">

                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" class="PrintMemberDetails" id="PrintAddress">Print Address</a></li>
                                        @*<li><a href="#" class="PrintMemberDetails" id="PrintDismissedList">Print Dismissed Member List</a></li>*@
                                    </ul>
                                </div>
                                @*<button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Download Form</button>*@
                            </div>
                            @*<div class="col-md-2">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Print <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        <!--<li><a href="#" class="PrintReceiptDetails" id="PrintAddress">Print Single Receipt</a></li>-->
                                        <li><a href="#" class="PrintReceiptDetails" id="PrintReceiptList">Print All Receipt</a></li>
                                      </ul>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-3 right">
                        <a href="@Url.Action("Create", "Magazine")" class="btn btn-default">Create Non CVPA Members</a>
                    </div>

                </div>
            </div>
            @*<div class="panel-body advanced-search">
                           <div class="col=md-12">
                               <div class="col-md-4">
                                   <label for="FromDate">From Date</label>
                                   <input type="text" class="datepicker" name="FromDate" id="FromDate"/>
                                    @Html.TextBox("FromDateReturnValue", Request["FromDate"], new { @class = "form-control", @type="hidden" })
                               </div>
                               <div class="col-md-4">
                                   <label for="ToDate">To Date</label>
                                   <input type="text" class="datepicker" name="ToDate" id="ToDate"/>
                                    @Html.TextBox("ToDateReturnValue", Request["ToDate"], new { @class = "form-control", @type="hidden" })
                               </div>
                               <div class="col-md-2">
                                    <button class="btn btn-default"  type="submit">Go!</button>
                               </div>
                           </div>
                </div>*@
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">

                        @Html.BootstrapPager(Model.Magazines.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Magazine",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Magazines.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Magazines.TotalItems,
                                        Model.Magazines.ItemsPerPage,
                                        Model.Magazines.TotalPages)
                    </div>
                    <div class="col-md-5">
                        Showing @Model.Magazines.Items.Count of @Model.Magazines.TotalItems member(s)
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>MobileNo</th>
                                        <th>Area</th>
                                        <th>Pincode</th>
                                        @*<th>Paid Date</th>*@
                                        @*<th>Insurance For the Year</th>*@
                                        <th>Edit / Delete / Print</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Magazine in Model.Magazines.Items)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Edit", "Magazine", new {MagazineID = @Magazine.MagazineID})">@Magazine.Name</a></td>
                                            <td><a href="@Url.Action("Edit", "Magazine", new {MagazineID = @Magazine.MagazineID})">@Magazine.MobileNo</a></td>
                                            <td>@Magazine.Area</td>
                                            <td>@Magazine.Pincode</td>
                                            @*<td>@Magazine.ReceiptDate.ToString("dd/MM/yyyy")</td>
                                                <td>@Receipt.ReceiptFromYear - @Receipt.ReceiptToYear</td>*@
                                            <td>
                                                @*<a href="#" class="DeleteReceipt"><input type="hidden" class="DeleteInsuranceID" value="@Receipt.InsuranceID"> <span class="glyphicon glyphicon-trash"></span></a>
                                                    / *@
                                            <a href="@Url.Action("Edit", "Magazine", new {MagazineID = @Magazine.MagazineID})"><span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Edit" class="glyphicon glyphicon-edit"></span></a> /
                                            <a href="#" class="DeleteMagazine"><input type="hidden" class="DeleteMagazineID" value="@Magazine.MagazineID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Delete" class="glyphicon glyphicon-trash"></span></a> /
                                            @*
                                                <a href="#" class="PrintSingleReceipt"><input type="hidden" class="PrintSingleInsuranceID" value="@Magazine.MagazineID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span></a>
                                            *@
                                            <a href="#" class="PrintSingleNonMember"><input type="hidden" class="PrintSingleNonMemberID" value="@Magazine.MagazineID"> <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Print" class="glyphicon glyphicon-print"></span></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-7">

                                @Html.BootstrapPager(Model.Magazines.CurrentPage,
                                        index => Url.Action("Search",
                                                            "Magazine",
                                                            new
                                                            {
                                                                PageNumber = index,
                                                                ItemsPerPage = Model.Magazines.ItemsPerPage,
                                                                Query = Request["Query"],
                                                            }),
                                        Model.Magazines.TotalItems,
                                        Model.Magazines.ItemsPerPage,
                                        Model.Magazines.TotalPages)
                            </div>
                            <div class="col-md-5">
                                Showing @Model.Magazines.Items.Count of @Model.Magazines.TotalItems member(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section Scripts {
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "yy-mm-dd",
            });
            $(".advanced-search").hide();
            var fromdate = $("#FromDateReturnValue").val();
            var todate = $("#ToDateReturnValue").val();
            if ((fromdate != "") || (todate != "")) {
                $(".advanced-search").show();
                $("#FromDate").val(fromdate);
                $("#ToDate").val(todate);
            } else if ((fromdate == "") || (todate == "")) {
                $(".advanced-search").hide();
            }

            $(".DeleteMagazine").click(function () {
                var MagazineID = $(this).find(".DeleteMagazineID").val();
                if (confirm("Are you sure want to delete the Member ?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Magazine")?MagazineID=' + MagazineID,
                        success: function (DeleteReceipt) {
                            location.reload();
                        }
                    });
                } else {
                    return false;
                }
            });

            // Receipt Single Print
            $(".PrintSingleReceipt").click(function () {
                var InsuranceID = $(this).find(".PrintSingleInsuranceID").val();
                window.open('@Url.Action("InsuranceReceiptSinglePrint", "Insurance")?InsuranceID=' + InsuranceID + '&MemberID=0', '_blank', "width=900, height=600");
            });

            $(".PrintSingleNonMember").click(function () {
                var MagazineID = $(this).find(".PrintSingleNonMemberID").val();
                window.open('@Url.Action("SingleNonMemberPrint", "Magazine")?MagazineID=' + MagazineID, '_blank', "width=900, height=600");
            });

            var RequestQuery = $("#RequestQuery").val();
            if (RequestQuery != null) {
                $("#Query").val(RequestQuery);
            }

            $(".advanced-button").click(function () {
                $(".advanced-search").toggle("slow");
            });


            $(".PrintMemberDetails").click(function () {
                var value = $(this).attr('id');
                var RequestQuery = $("#RequestQuery").val();
                window.open('@Url.Action("AddressPrint", "Magazine")?Query=' + RequestQuery + '&PrintOption=MembersAddress', '_blank', "width=900, height=600");
            });
            $("[data-toggle=popover]").popover();
        });
    </script>
}
