﻿@model Cvpa.Models.InsuranceEditViewModel
@using Cvpa.Models;

@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var insurance = Model.InsuranceData;
 
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")



<style>
    .panel-body {
        margin : auto;
        width :80%;
        border : 1px solid #dcdcdc;
        padding : 15px;
        border-radius:4px;
    }
    .signature {
        width : 25%;
        text-align:center;
    }
    .table-signature {
        width : 100%;    }
    .Receipt_Header {
        width : 100%;
    }
    .bottom-border {
        border-bottom:1px dotted #dcdcdc;
    }
</style>
<div class="panel-body">             
    @*<div class="main-header">
        <h3 class="main-title text-center"><img src="~/Content/Images/logo.png" style="width:9%;" alt="Logo" /> Pazudhu Parppore Nala Sangam&nbsp;&nbsp;&nbsp;<img src="~/Content/Images/flag1.png" alt="Logo" /></h3>
    </div>*@
    <div class="main-header">
        <img src="~/Content/Images/Receipt_Header.jpg" class="Receipt_Header" alt="Receipt Header" />
    </div>
    <hr />
    @if (@insurance != null)
    {
    <div class="text-center"> <span class="btn" style="border: 1px solid #777;margin:0 auto;">Insurance Receipt</span></div>
    <div><b>Member No:</b> <span class="MembershipNo bottom-border">@insurance.MembershipNo</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pull-right "><b>Telephone No :</b><span class="bottom-border"> +91 - 9841892001</span> </span></div>
    <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b> Receipt ID :</b> <span class="bottom-border">@insurance.InsuranceID</span></span> <span class="pull-right"><b>Date :</b><span class="bottom-border"> @insurance.ReceiptDate.ToString("dd/MM/yyyy")</span></span> </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b>Name : </b><span class="bottom-border">@insurance.MemberName</span></span> <span class="pull-right"><b>Phone No:</b><span class="bottom-border"> @insurance.PhoneNo</span></span></div>
    <br/>
    <div class="clearfix">&nbsp;</div>
    <div><span class="pull-left"><b>NomineeName :</b><span class="bottom-border">@insurance.NomineeName</span></span></div>
    <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
    <!--<div><span class="pull-left"><b>Address :</b><span class="bottom-border">@insurance.Address</span></span></div>
    <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>-->
    <div class="pull-left"> Received with thanks, the insurance fees of rupees <strong>@insurance.AmountInWords</strong> only <strong>Rs.&nbsp;@insurance.PaidAmount&nbsp;</strong>/-</div>
    <br/><br/><br/><div class="clearfix">&nbsp;</div>
   
    <table class="table-signature" >
        <tr>
            <td class="signature">President</td>
            <td class="signature">Secretary</td>
            <td class="signature">Treasurer</td>
            <td class="signature">Cashier</td>
        </tr>

    </table>    
    
    }
    else
    {
        <h2>Sorry No Receipt available for this MembershipNo</h2>
    } 
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var mebershipno = $(".MembershipNo").text();
       // alert(mebershipno);
        if (!mebershipno == null || !mebershipno == "") {
            window.print();
        }
     
    });
    
</script>