﻿@model List<Cvpa.Models.Magazine>
 @{   
    Page.Title = "";
    //Layout = "Your Layout Page goes here";
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style type="text/css">
    .AddressList {
        width : 33%;
        height : 25%;
        display : inline;
        float : left;
        text-decoration :none;
        padding : 5px;
        border : 0px solid #dcdcdc;

    }
   @@page {
        size: A4;
        margin: 0;
    }
    @@media print {
        main-content {
            width: 210mm;
            height: 290mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

</style>
<div class="main-content">
    <div class="main-header container-fluid">
        <h3 class="main-title text-center">&nbsp;&nbsp;&nbsp;Chennai Video & Photographers Association&nbsp;&nbsp;&nbsp;</h3>
    </div>
  
    <div class="page">
        <ul>
        @foreach (var Magazine in Model) { 
            <li class="AddressList">
                <b>@Magazine.MagazineID</b><br/>
                <b>@Magazine.Name</b><br/>
                @Magazine.Address<br/>
                @Magazine.Area<br/>
                @Magazine.City - @Magazine.Pincode<br/>
                @Magazine.MobileNo<br/>
            </li>
        }
        </ul>
    </div>
</div>
<script type="text/javascript">
    window.print();
</script>
