﻿@model Cvpa.Models.Magazine
@using Cvpa.Models;
@{
    Page.Title = "Title goes here";
    var magazine = Model;
    //Layout = "Your Layout Page goes here";    
}
@RenderPage("~/Views/_Shared/_Scripts.cshtml")
<style>
      #memberInfo th, .table-title{
		font-size:14px;
	  }
	  img {
		margin-bottom: 10px;
	  }
       .header-color {
            color: #E59866;
        }

        .member-numbercolor {
            color: #2874A6
        }

        .member-namecolor {
            color: #2874A6
        }

        .member-table > thead > tr > th, .member-table > tbody > tr > th {
            color: #E59866;
        }

        .member-table > tbody > tr > td {
            color: #2874A6;
        }

        .member-heading {
            color: #E59866;
        }
    .container {
        border : 1px solid #0094ff;
    }
    
        .Receipt_Header {
            width : 100%;
        }
    @@media print {
        .header-color {
            color: #0040ff !important;
        }

        .member-numbercolor {
            color: #2874A6 !important;
        }

        .member-namecolor {
            color: #2874A6 !important;
        }

        .member-table > thead > tr > th, .member-table > tbody > tr > th {
            color: #E59866 !important;
        }

        .member-table > tbody > tr > td {
            color: #2874A6 !important;
        }

        .member-heading {
            color: #E59866 !important;
        }
    }
</style>
<div>
    <div class="container">
		<header>
            <img src="~/Content/Images/cvpa_header.jpg" class="Receipt_Header" alt="Receipt Header" />
			@*<h3 class="text-center">CHENNAI VIDEO PHOTOGRAPHERS ASSOCIATION</h3>*@
			<!--<address class="text-center">33/2  NAGAPPA MUDALI STREET KOMALEESWARANPET  CHENNAI 600 002</address>-->
			<div class="main-header">
            </div>
			
			<div class="row">
				<div class="col-xs-6 pull-left">
					<table class="table border-none" id="memberInfo">
						<tbody>
							<tr>
								<th class="col-lg-4 member-heading">Member Name</th>
								<th class="col-lg-8 member-namecolor">@magazine.Name</th>								
							</tr>
							<tr>
								<th class="col-lg-4 member-heading">Member No</th>
								<th class="col-lg-8 member-numbercolor"><b>@magazine.MemberNo</b></th>
							</tr>							
						</tbody>
					</table>
				</div>	
			</div><!--end of row-->
			
		</header>
		<div class="row">			
			<div class="col-xs-12">				
				<table class="table table-bordered member-table"> 
					<tbody>	
						<tr>
							<th colspan="4" class="table-title text-center">Personal Address</th>
						</tr>
                        <tr>
                            <th>Mobile No</th>
                            <td>@magazine.MobileNo</td>
                            <th>Telephone No</th>
                            <td>@magazine.TelephoneNo</td>
                        </tr>
                        <tr>
							<th>Address</th>
							<td class="header-color">@magazine.Address</td>
							<th>Area</th>
							<td class="header-color">@magazine.Area</td>
						</tr>
						<tr>
							<th>City</th>
							<td>@magazine.City</td>
							<th>Pincode</th>
							<td>@magazine.Pincode</td>
						</tr>
					</tbody>
				</table><!--end of table-->
			</div>
		</div>		
    </div><!--end of container-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
       // alert(mebershipno);
         window.print();
        
     
    });
    
</script>